---
import ImportantCards from "./ImportantCards.astro";
import type { MarkdownFile } from "../../types/Markdown";

const allUpdates = import.meta.glob<MarkdownFile>("/src/content/updates/*.md");

const updates = await Promise.all(
  Object.values(allUpdates).map(async (update) => {
    const { frontmatter } = await update();
    return { ...frontmatter };
  })
);

const { title } = Astro.props;

// Filter out updates where the title matches the prop `tittle`
const filteredUpdates = updates.filter(
  (update) => update.title !== title && update.priority === "high"
);

// Slice to get only 3 updates
const updatesToDisplay = filteredUpdates.slice(0, 3);
---

<div>
  <h1>Important Updates</h1>
  {updatesToDisplay.map((update, index) => <ImportantCards update={update} />)}
</div>
