<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Donation</title>
        <link rel="stylesheet" href="/assets/css/Donation/donationCard.css" />
    </head>
    <body>
        <section class="donationCard mt-2 mt-sm-3 mt-md-3 mt-lg-3">
            <div class="container donationCard-container-first">
                <div class="donationCard-container-second">
                    <div class="donation-container-detail">
                        <div class="donation-heading">
                            Empower the Future of India with Kiran foundation
                        </div>
                        <div class="donation-paragraph">
                            We can't help everyone, but everyone can help
                            someone
                        </div>
                        <div class="donation-btn">
                            <a class="donation-link" href="/">Donate Now</a>
                        </div>
                    </div>
                    <div class="donation-container-image">
                        <div class="donation-container-allImages">
                            
                            <img
                                class="Image-first"
                                src="/assets/images/programs/bar chart1.png"
                                alt="barChart"
                            />
                            <img
                                class="Image-second"
                                src="/assets/images/programs/linechart.png"
                                alt="lineChart"
                            />
                            <img
                                class="Image-third"
                                src="/assets/images/programs/donutchart.png"
                                alt="donutChart"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
