<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership & Sponsorship Options</title>
    <link rel="stylesheet" href="/assets/css/Donation/membership.css">
</head>
<body>
    <div class="donation-c1">
        <div class="donation-c1-title">Membership & Sponsorship Options</div>
        <div class="donation-card-container">
            <div class="donation-card">
                <div class="donation-card-title1">Premier Supporter</div>
                <div class="donation-card-title2">1Lakh</div>
                <div class="donation-card-permonth">per month</div>
                <div class="donation-card-text">Support our cause with a monthly donation of 1 Lakh.</div>
                <div><a class="donation-card-button" href="/">Donate now</a></div>
                </div>
            <div class="donation-card">
                <div class="donation-card-title1">Supporter</div>
                <div class="donation-card-title2">1Lakh</div>
                <div class="donation-card-permonth"> or a monthly donation of 10K.</div>
                <div class="donation-card-text">Support our cause with a yearly donation of 1Lakh or a monthly donation of 10K.</div>
                <div><a class="donation-card-button" href="/">Donate now</a></div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title3">Donate a laptop to support Students</div>
                <div class="donation-card-text">Donate a laptop to support ducational initiatives.</div>
                <div class="donate-btn3"><a class="donation-card-button" href="/">Donate now</a></div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title4">Sponsor a Student for One Year</div>
                <div class="donation-card-text4">Sponsor a student for one year and provide them with educational resources.</div>
                <div class="donate-btn4"><a class="donation-card-button" href="/">Donate now</a></div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title1">Sponsor a Pratibha  student for Full Duration</div>
                <div class="donation-card-text">Sponsor a Pratibha for the full   duration of their education.</div>
                <div class=""><a class="donation-card-button" href="/">Donate now</a></div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title6">Any amount you want to donate</div>
                <div class="donation-card-text6">Donate a laptop to support ducational initiatives.</div>
                <div class="donate-btn6"><a class="donation-card-button" href="/">Donate now</a></div>
            </div>
        </div>
    </div>
</body>
</html>
