---
import Breadcrumb from "../../../components/common/Breadcrumb.astro";
import GreenUnderlineHeading from "../../../components/common/GreenUnderlineHeading.astro";
import Layout from "../../../layouts/Layout.astro";
import Gallery from "../../../components/common/Gallery.astro";
import BottomContainer from "../../../components/common/BottomContainer.astro";
---

<Layout title="Current Students">
  <main class="page-wrapper w-full">
    <Breadcrumb />

    <GreenUnderlineHeading
      slug="heading"
      collection="current-students"
      recLen="mb-12"
    />

    <!-- STUDENT LIST -->
    <Gallery collection="current-students" />

    <BottomContainer
      collection="current-student"
      slug="worth-beyond-wealth"
    />
  </main>
</Layout>
