---
import { getEntry } from "astro:content";
const digitalSkillHero = (await getEntry("digitalskill","hero")).data
---
<section class="position-relative" style="margin-top: 4rem; margin-bottom: 70px;">
    <div
      class="position-absolute object-fit-cover w-100 h-100 top-0 start-0 bg-size-cover bg-position-center mt-4"
      style="background-image: url(/assets/images/programs/digitalHero.png);"
    >
    </div>
    <div class="position-relative z-2 text-center pt-2 pt-sm-3 pt-lg-5">
      <h1 class="hero-title-h1 display-0 text-white pt-5 pt-sm-4 pt-lg-5" style="margin-top: 30px;">
        {digitalSkillHero.title} 
      </h1>
      <p
        class="hero-description-p text-white fs-xl opacity-90 mx-auto pb-3 pb-md-0 mb-4 mb-md-5 text-white"
        style=" max-width: 640px;"
      >
       {digitalSkillHero.description}
      </p>
      </div>
    <div class="d-none d-lg-block" style="height: 360px;"></div>
    <div class="d-none d-md-block d-lg-none" style="height: 260px;"></div>
    <div class="d-md-none" style="height: 160px;"></div>
  </section>