---
import { getEntry } from "astro:content";
const componentHead = (
  await getEntry("work-with-us", "opportunities/items-volunteering/head")
).data;
---

<div class="w-full mt-[32px] bg-white">
  <div class="xl:w-full px-[24px] h-[322px] flex items-center bg-orange">
    <section
      class="!container !max-w-[1296px] mx-auto flex flex-col gap-[32px] justify-center"
    >
      <h1 class="font-merriweather text-[36px] md:text-[64px] text-white">
        {componentHead.title}
      </h1>
      <h3 class="font-poppins text-[32px] font-normal text-white">
        {componentHead.subtitle}
      </h3>
    </section>
  </div>
</div>
