---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../../layouts/Layout.astro";
import UpdateHinidDiwas from "../../components/Updates/UpdateHinidDiwas.astro";
interface Props {
  title: string;
}
---

<Layout>
  <!-- Page wrapper -->
  <main class="page-wrapper">
    <UpdateHinidDiwas />
  </main>
</Layout>
