<section class="container position-relative" style="margin-top: -4rem;">
  <div class="container position-relative z-2 pb-3 pt-2 pt-sm-3 pt-md-4 pt-lg-5 mt-md-3 mt-xxl-2 mb-3 mb-lg-4">
    <div class="mx-1">
      <h2 class="h1">Meet Our Trainers</h2>
      </div>
  </div>
  <div class="container-start pe-0 d-flex justify-content-space-evenly align-item-center" style="gap:15px;">
        <!---Item -->
        <div class="swiper-slide w-auto">
          <div class="card-hover text-center" style="max-width: 306px;">
            <img class="d-block rounded-5 mb-4" src="/old_website/images/volunteers/sushma.png" alt="Image">
            <h3 class="h5 mb-1">Sushma Jain</h3>
            <p class="text-body-secondary mb-2">Head of marketing</p>
           </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide w-auto">
          <div class="card-hover text-center" style="max-width: 306px;">
            <img class="d-block rounded-5 mb-4" src="/old_website/images/volunteers/anjali.png" alt="Image">
            <h3 class="h5 mb-1">Anjali Jain</h3>
            <p class="text-body-secondary mb-2">President of Sales</p>
            </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide w-auto">
          <div class="card-hover text-center" style="max-width: 306px;">
            <img class="d-block rounded-5 mb-4" src="/old_website/images/volunteers/kshitij.jpg" alt="Image">
            <h3 class="h5 mb-1">kshitij Jain</h3>
            <p class="text-body-secondary mb-2">Web Designer</p>
          </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide w-auto">
          <div class="card-hover text-center" style="max-width: 306px;">
            <img class="d-block rounded-5 mb-4" src="/old_website/images/volunteers/abhas.png" alt="Image">
            <h3 class="h5 mb-1">Abhas Jain</h3>
            <p class="text-body-secondary mb-2">Marketing Coordinator</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>