---
import { getEntry } from "astro:content";

const entry = (await getEntry({
  collection: "common",
  slug: "headings",
})) as any;

const {
  testimonial = "",
  internship_card = "",
  volunteer_card = "",
} = entry?.data ?? {};

import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../../layouts/Layout.astro";
import ChooseVolunteering from "../../components/work-with-us/volunteering/ChooseVolunteering.astro";
import TestimonialsCarousel from "../../components/common/TestimonialsCarousel.astro";
import WhyVolunteer from "../../components/work-with-us/volunteering/WhyVolunteer.astro";
import WhyIntern from "../../components/work-with-us/volunteering/WhyIntern.astro";
import Hero from "../../components/pratibha/Hero.astro";
import Faq from "../../components/common/FaqPratibha.astro";
import Breadcrumb from "../../components/pratibha/Breadcrumb.astro";
---

<Layout>
  <main class="page-wrapper">
    <Breadcrumb url={Astro.url} />

    <Hero
      collection="work-with-us"
      slug="opportunities/items-volunteering/hero-volunteer"
    />

    <WhyVolunteer
      collection="work-with-us"
      slug="opportunities/items-volunteering/why-volunteer"
      textAlignment="order-2"
      imageAlignment="order-1"
    />

    <ChooseVolunteering fetch="volunteer" />

    <WhyIntern
      collection="work-with-us"
      slug="opportunities/items-volunteering/why-intern"
      textAlignment="order-1"
      imageAlignment="order-2"
    />
    <ChooseVolunteering fetch="internship" />

    <!-- <ChooseVolunteering fetch="internship" /> -->
    <section
      class="flex items-center justify-center mt-[120px] md:mt-[120px] mb-20 lg:mt-28 lg:mb-[120px]"
    >
      <h1
        class="font-merriweather font-normal text-center leading-[150%] tracking-[-2.2%] text-[30px] sm:text-[40px] md:text-[48px] w-[292px] lg:w-[1296px] lg:h-[72px]"
      >
        {testimonial}
      </h1>
    </section>

    <TestimonialsCarousel pageTag="home" />

    <div
      class="w-[342px] h-[208px] sm:w-[600px] md:w-[700px] sm:h-[408px] lg:w-[1296px] lg:h-[406px] mx-auto mt-[120px] mb-[184px] overflow-hidden"
    >
      <img
        src="/assets/images/work-with-us/volunteering/work-with-us-bottom-img.jpeg"
        class="w-full h-full object-cover rounded-[24px]"
        style="object-position: center bottom;"
      />
    </div>

    <Faq
      collection="work-with-us"
      slug="opportunities/items-volunteering/faq"
      mt="px-[24px] lg:px-0"
    />
  </main>

  <a
    class="btn-scroll-top"
    href="#top"
    data-scroll
    aria-label="Scroll back to top"
  >
    <svg
      viewBox="0 0 40 40"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="20"
        cy="20"
        r="19"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-miterlimit="10"></circle>
    </svg>
    <i class="ai-arrow-up"></i>
  </a>
</Layout>
