@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
  
  
  /* Style Guide Fonts Desktop */
  .hero-title {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 150%;
    letter-spacing: -2.2%;
    color: #1E1E1E;
  }
  .hero-subtitle {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.25rem;
    letter-spacing: -2.2%;
    color: #49494C;


  }
  .heading-1 {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 3rem;
    line-height: 150%;
    letter-spacing: -2.2%;
    color: #1E1E1E;

  }
  .heading-2 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.75rem;
    letter-spacing: 0%;
    color: #49494C;

  }
  .heading-3 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1E1E1E;

  }
  .heading-4 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1E1E1E;

  }
  .body-text-1 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0%;
    color: #49494C;

  }

  .body-text-2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #49494C;

  }
  .body-text-3 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: 0rem;
    color: #49494C;
  }

  .breadcrumbs-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #49494C;

  }
  .Error-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 150%;
    letter-spacing: 0px;
    color: #49494C;

  }


  /* Fonts Mobile  */
  @media (max-width: 48rem) {
    .hero-title {
      font-size: 2.25rem;
      font-weight: 900;
    }
    .hero-subtitle {
      font-size: 1.25rem;
      line-height: 1.75rem;

    }
    .heading-1{
      font-size: 1.875rem;
  
    }
    .heading-2{
      font-size: 1.25rem;
    line-height: 2.375rem;
    letter-spacing: 0%;
    }
    .heading-3{
      font-size: 1.5rem;
      font-weight: 600;
    }
    .heading-4{
      font-size: 1.25rem;
  
    }
    .body-text-1{
      font-size: 1rem;
      line-height: 2rem;
    }
    .body-text-2{
      font-size: 1rem;
      line-height: 2rem;
    }
    .body-text-3{
      font-size: 1.125rem;
      line-height: 2.25rem;
    }
 
  }

  .pratibha-heading {
    font-family: "Merriweather", serif;
    font-size: 3rem; /* 32px */
    line-height: 150%;
    letter-spacing: -2.2%;
    font-weight: 400;
    color: #1e1e1e;
  }
  .pratibha-subheading {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1e1e1e;
  }

  .pratibha-subtile {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1e1e1e;
  }
  .pratibha-description {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0%;
    color: #49494c;
  }

  .singleImage > img {
    width: 100%;
    margin: 0% auto;
    height: auto;
  }

  @media (max-width: 48rem) {
    .pratibha-heading {
      font-size: 1.875rem;
    }
    .pratibha-description,
    .pratibha-subtile {
      font-size: 1rem;
    }
    .pratibha-subheading {
      font-size: 1.5rem;
    }
  }
  
  .talent-section-wrapper {
    font-family: Poppins, sans-serif;
  }

  .talent-section-wrapper .talent-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1296px;
    padding: 4rem 1.5rem;
    margin:10px auto;
    text-align: left;
  }

  .talent-section-wrapper .images-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    min-height: 460px;
    margin-top: 7rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .talent-section-wrapper .images-container img {
    border-radius: 24px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease;
    position: absolute;
    /* width: 160%; */
    top: 50%;
    left: 50%;
  }

  .talent-section-wrapper .image-front {
    width: clamp(280px, 50vw, 380px);
    z-index: 2;
    transform: translate(-90%, -45%) rotate(-13deg);
    opacity: 0;
  }

  .talent-section-wrapper .image-back {
    width: clamp(240px, 45vw, 310px);
    z-index: 1;
    transform: translate(10%, -55%) rotate(20deg);
    opacity: 0;
    animation-delay: 0.3s;
  }

  .image-front.in-view {
    animation: fadeInSlideFront 1.2s ease-out forwards;
  }

  .image-back.in-view {
    animation: fadeInSlideBack 1.2s ease-out forwards;
    animation-delay: 0.3s;
  }

  .talent-section-wrapper .text-content h2{
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #222;
  }


  .talent-section-wrapper .text-content p {
    font-size: 1.3rem;
    color: #555;
    line-height: 1.7;
    margin-bottom: 3rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 992px) {
    .talent-section-wrapper .talent-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1296px;
    padding: 4rem 1.5rem;
    margin:10px auto;
    text-align: center;
  }
    .talent-section-wrapper .text-content h2 {
      font-size: 2.5rem;
    }

    .talent-section-wrapper .text-content p {
      font-size: 1rem;
      max-width: 600px;
    }
  }

  @media (max-width: 768px) {
    .talent-section-wrapper .talent-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1296px;
    padding: 4rem 1.5rem;
    margin:10px auto;
    text-align: center;
  }
    .talent-section-wrapper .image-front {
      width: clamp(180px, 45vw, 380px);
      z-index: 2;
      transform: translate(-90%, -45%) rotate(-13deg);
      opacity: 0;
    }

    .talent-section-wrapper .image-back {
      width: clamp(140px, 40vw, 310px);
      z-index: 1;
      transform: translate(10%, -55%) rotate(20deg);
      opacity: 0;
      animation-delay: 0.2s;
    }

    .talent-section-wrapper .talent-section {
      padding: 0rem 1rem;
      margin:40px auto;
    }

    .talent-section-wrapper .images-container {
      min-height: 120px;
      margin-bottom: 12rem;
    }

    .talent-section-wrapper .image-front {
      transform: translate(-75%, -55%) rotate(-13deg);
    }

    .talent-section-wrapper .image-back {
      transform: translate(-25%, -45%) rotate(20deg);
    }

    .talent-section-wrapper .text-content h2 {
      font-size: 2rem;
    }

    .talent-section-wrapper .text-content p {
      font-size: 0.95rem;
      padding: 0 1rem;
    }
  }

  @media (max-width: 480px) {
    .talent-section-wrapper .image-front {
      width: clamp(100px, 49vw, 380px);
      z-index: 2;
      transform: translate(-90%, -45%) rotate(-13deg);
      opacity: 0;
    }

    .talent-section-wrapper .image-back {
      width: clamp(100px, 37vw, 310px);
      z-index: 1;
      transform: translate(10%, -55%) rotate(20deg);
      opacity: 0;
      animation-delay: 0.3s;
    }

    .talent-section-wrapper .talent-section {
      padding: 0rem 1rem;
    }

    .talent-section-wrapper .images-container {
      min-height: 120px;
      margin-bottom: 6rem;
    }

    .talent-section-wrapper .image-front {
      transform: translate(-75%, -55%) rotate(-13deg);
    }

    .talent-section-wrapper .image-back {
      transform: translate(-25%, -45%) rotate(20deg);
    }

    .talent-section-wrapper .text-content h3 {
      font-size: 1.6rem;
    }

    .talent-section-wrapper .text-content p {
      font-size: 0.95rem;
      padding: 0 1rem;
    }
    
  }

  @keyframes fadeInSlideFront {
    0% {
      transform: translate(-50%, -50%) scale(0.9) rotate(0deg);
      opacity: 0;
    }

    100% {
      transform: translate(-90%, -45%) rotate(-13deg);
      opacity: 1;
    }
  }

  @keyframes fadeInSlideBack {
    0% {
      transform: translate(-50%, -50%) scale(0.9) rotate(0deg);
      opacity: 0;
    }

    100% {
      transform: translate(10%, -55%) rotate(20deg);
      opacity: 1;
    }
  }

}