@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pratibha-heading {
    font-family: "Merriweather", serif;
    font-size: 3rem; 
    line-height: 150%;
    letter-spacing: -2.2%;
    font-weight: 400;
    color: #1E1E1E;
  }
  .pratibha-subheading {
    font-family: "Poppins" ,serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1E1E1E;

    
  }

  .pratibha-subtile {
    font-family: "Poppins" ,serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1E1E1E;


  }
  .pratibha-description {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0%;
    color: #49494C;

  }

  .singleImage > img {
    width: 97%;
    margin: 0% auto;
    height: auto;
  }

  @media (max-width: 768px) {
    .pratibha-heading {
      font-size: 1.875rem;
   
    }
    .pratibha-description, .pratibha-subtile {
      font-size: 1rem;
    }
    .pratibha-subheading{
      font-size: 1.5rem;
    }
  }
}
