---
import Button from "../common/button.astro";

import VolunteerSwiper from "../../components/common/VolunteerSwiper.astro";

import { getEntry } from "astro:content";

const { fetch = "all" } = Astro.props;

const entry = (await getEntry({
  collection: "common",
  slug: "headings",
})) as any;

const { internship_card = "", volunteer_card = "" } = entry?.data ?? {};
---

<section
  class={`bg-gray-200 py-20  mt-[120px] md:mt-[164px] min-h-[662px] lg:h-[756px] ${fetch === "volunteer" ? "md:mt-[164px]" : "lg:mt-[252px]"}`}
>
  <!-- Heading -->
  <div class="flex flex-col items-center lg:h-[596px]">
    <h3
      class="font-poppins font-medium w-[342px] h-[36px] lg:w-full lg:h-[48px] lg:font-semibold leading-[100%] tracking-[0%] text-center text-[#1E1E1E] text-[24px] lg:text-[32px]"
    >
      {fetch === "volunteer" ? volunteer_card : internship_card}
    </h3>

    <!-- Swiper Component, passing className for styling -->
    <VolunteerSwiper
      className="mx-auto w-full max-w-7xl my-20 sm:mt-12 md:mt-16 lg:mt-24 lg:mb-14"
      call="volunteer"
      type={fetch}
    />

    <!-- anshul todo -->
    <!-- Button with extra spacing on mobile -->
    <Button
      link="/volunteering/opportunities"
      title="Discover More Opportunities"
      btn="btn3"
      widthClass="w-[342px] sm:w-[200px] md:w-[283px]"
      heightClass="h-[60px] sm:h-[55px] md:h-[60px]"
      className="mb-20 sm:mt-10 md:mt-12 lg:mt-8"
    />
  </div>
</section>
