---

import Button from "../common/button.astro";

const {fetch = "all"} = Astro.props;
import VolunteerSwiper from "../../components/common/VolunteerSwiper.astro";


---

<section class="bg-gray-200  py-16 px-6 flex flex-col items-center mt-[164px]">
  <!-- Heading -->
  <h2 class="text-2xl sm:text-3xl font-semibold text-center mb-8">
    
    {fetch === "volunteer" ? "Highlighted Volunteer Roles" : "Highlight Internships"}

  </h2>

  <!-- Swiper Component, passing className for styling -->
  <div class="w-full max-w-7xl">
    <VolunteerSwiper  className="mx-auto" type={fetch} />
  </div>

 
  <Button
        link="/volunteering"
        title="Discover More Opportunities"
        btn="btn3"
        widthClass="w-[180px] sm:w-[200px] lg:w-[283px]"
        heightClass="h-[50px] sm:h-[55px] lg:h-[60px]"
      />
</section>