---
import { getEntry } from "astro:content";
const hero = (await getEntry("home", "hero")).data;
const common = (await getEntry("common", "common")).data;
---

<section class="position-relative" style="margin-top: 4rem">
  <div class="aboutVolunteering-frame1">
    <!--TODO: replace < with proper icon -->
    <a
      style="font-family: Poppins; font-weight: 400; font-size: 14px; line-height: 100%; letter-spacing: 0%; color: #1E1E1E; "
      href="/volunteering"
    >
      &lt; Back to Volunteer and Internship Opportunities
    </a>
  </div>
</section>
