---
import { getEntry } from "astro:content";
const hero = (await getEntry("home", "hero")).data;
const common = (await getEntry("common", "common")).data;
---

<section class="position-relative" style="margin-top: 4rem">
  <div class="aboutVolunteering-frame1">
    <!--TODO: replace < with proper icon -->
    <a class="pt-5 fs-6" href="/volunteering">
      &lt; Back to Volunteer and Internship Opportunities
    </a>
  </div>
</section>
