---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <!-- Page wrapper -->
    <main class="page-wrapper" style="overflow-x: hidden;">
        <div
            class="d-flex justify-content-center align-item-center"
            style="height:50%;"
        >
            <h1
                class="h1 display-4 text-black pt-5 text-center"
                style="font-size: 50px; margin: 100px auto;"
            >
                (Shakti) Everyday Law for Women
            </h1>
        </div>
    </main>
</Layout>
