---
import { getEntry } from 'astro:content'
// const commonComingsoon = (await getEntry('common', 'coming-soon')).data
---

<script src='/assets/js/theme.min.js' is:inline></script>
<script src='/assets/js/common.js' is:inline></script>

  <!-- Contact details -->
  <section class=" w-full h-[472px]   ">

    <div class="  w-[1296px] h-[255px] m-auto flex-col  items-center ">
      <div class=" flex flex-col mx-auto  h-[255px] gap-8">

        <h1 class="  relative inline-block mx-auto justify-center ">
          <span class="relative z-10 pratibha-heading">Reach Out Your Way</span>
          <span class="absolute bottom-[-5px] left-0 w-full z-0">
            <img src="/assets/svg/green-line-under-text-volunteer.svg" alt="Green Underline" class="w-full h-auto" />
          </span>
        </h1>
        <p class=" pratibha-description justify-center mx-auto  max-h-[104px]">Whether you prefer filling out the form below, sending an email, or giving us a call, we’re ready to help, and we’ll respond as quickly as possible.</p>
      </div>
    </div>

  
  </section>


   