---
---
<section class="bg-secondary py-5 mb-[5rem]">
    <div class="container pt-5 pb-lg-2 pb-xl-4 py-xxl-5">


      <!-- Details cards -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-4 pb-2 pb-sm-4 pb-lg-5">

        <!-- Address -->
        <div class="col">
          <div class="card border-0 h-100">
            <div class="card-body">
              <h4 class="card-title mb-4">Address</h4>
              <p class="fs-lg fw-medium pb-3 mb-3">Kiran Social Foundation
            101 Sahil Veer Apartments,
            Vandana Nagar, Indore 452018 Madhya Pradesh, India</p>
              <a class="btn btn-sm btn-outline-primary" href="#">
            <i class="ai-map-pin me-1"></i>
            Get directions
              </a>
            </div>
          </div>
        </div>

        <!-- Phone -->
        <div class="col">
          <div class="card border-0 h-100">
            <div class="card-body">
              <h4 class="card-title mb-4">Phone</h4>
              <ul class="list-unstyled mb-0">
                <li class="pb-1 mb-2">
                  <span class="d-block fs-sm text-body-secondary mb-1">Main office</span>
                  <a class="nav-link fs-lg p-0" href="tel:+178632256033">+91&nbsp;93039&nbsp;97100</a>
                </li>
                <li>
                  <span class="d-block fs-sm text-body-secondary mb-1">Whatsapp</span>
                  <a class="nav-link fs-lg p-0" href="tel:+178630056044">+91&nbsp;98801&nbsp;41412</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Schedule -->
        <div class="col">
          <div class="card border-0 h-100">
            <div class="card-body">
              <h4 class="card-title mb-4">Schedule</h4>
              <ul class="list-unstyled mb-0">
                <li class="pb-1 mb-2">
                  <span class="d-block fs-sm text-body-secondary mb-1">Mon - Thu</span>
                  <div class="d-flex align-items-center">
                    <span class="text-nav fs-lg fw-medium">10:00</span>
                    <span class="border-top mx-4" style="width: 36px; height: 1px;"></span>
                    <span class="text-nav fs-lg fw-medium">22:00</span>
                  </div>
                </li>
                <li>
                  <span class="d-block fs-sm text-body-secondary mb-1">Fri - Sat</span>
                  <div class="d-flex align-items-center">
                    <span class="text-nav fs-lg fw-medium">10:00</span>
                    <span class="border-top mx-4" style="width: 36px; height: 1px;"></span>
                    <span class="text-nav fs-lg fw-medium">20:00</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Email -->
        <div class="col">
          <div class="card border-0 h-100">
            <div class="card-body">
              <h4 class="card-title mb-4">Email</h4>
              <ul class="list-unstyled mb-0">
                <li class="pb-1 mb-2">
                  <span class="d-block fs-sm text-body-secondary mb-1">Main office</span>
                  <a class="nav-link fs-lg p-0" href="mailto:office@example.com">info@kiran.foundation</a>
                </li>
                <!-- <li>
                  <span class="d-block fs-sm text-body-secondary mb-1">Reception room</span>
                  <a class="nav-link fs-lg p-0" href="mailto:reception@example.com">reception@example.com</a>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div style="height: 250px;"></div> --> 
  </section>