---
---

<div class="container text-center  mt-lg-1 mt-xl-1">
    <div class="position-relative mx-auto my-3" style="max-width: 850px;">
      <!-- <h1 class="display-3 position-relative z-2 mb-0">Task management assistant you gonna love</h1> -->
      <h1 class="  relative inline-block mx-auto justify-center ">
        <span class="relative z-10 pratibha-heading">Reach Out Your Way</span>
        <span class="absolute bottom-[-5px] left-0 w-full z-0">
          <img src="/assets/svg/green-line-under-text-volunteer.svg" alt="Green Underline" class="w-full h-auto" />
        </span>
      </h1>
      
    </div>
    <p class="fs-lg pb-3 mb-2 mb-sm-3 mb-lg-4 mx-auto" style="max-width: 640px;">Whether you prefer filling out the form below, sending an email, or giving us a call, we’re ready to help, and we’ll respond as quickly as possible.</p>
    
  </div>