---
---

<div class="container text-center">
    <div class="position-relative mx-auto my-8">
      <!-- <h1 class="display-3 position-relative z-2 mb-0">Task management assistant you gonna love</h1> -->
      <h1 class="  relative inline-block mx-auto justify-center m">
        <span class="relative z-10 pratibha-heading">Reach Out Your Way</span>
        <span class="absolute bottom-[-5px] left-0 w-full z-0">
          <img src="/assets/svg/green-line-under-text-volunteer.svg" alt="Green Underline" class="w-[39.75rem] h-auto" />
        </span>
      </h1>
      
    </div>
    <p class=" mx-auto hero-subtitle lg:max-h-[104px]  text-[#49494C]" style="max-width: 1296px;">Whether you prefer filling out the form below, sending an email, or giving us a call, we’re ready to help, and we’ll respond as quickly as possible.</p>
    
  </div>