---
---

      <!-- Right Arrow -->
<div class="d-none d-lg-flex justify-content-center z-20" data-aos="fade-in" data-aos-duration="500" data-aos-offset="250">
<svg class="d-block text-[#00AA5E]" width="339" height="365" viewBox="0 0 339 365" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: -150px; margin-top: -140px; margin-bottom: -108px;">
    <path d="M324 291.371C120.111 291.37 240.756 58.7225 1.00032 73.2606" stroke="url(#arrow1)" stroke-width="2" stroke-linecap="round" stroke-dasharray="6 6"></path>
    <path d="M337.375 290.62C338.074 290.998 338.074 292.001 337.375 292.379L328.476 297.196C327.81 297.557 327 297.074 327 296.317L327 286.683C327 285.925 327.81 285.443 328.476 285.803L337.375 290.62Z" fill="currentColor"></path>
    <defs>
    <linearGradient id="arrow1" x1="324" y1="291.5" x2="-2.99974" y2="72.4997" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="rgba(68, 140, 116, 1)"></stop>
        <stop offset="1" stop-color="rgba(68, 140, 116, 0)" stop-opacity="0"></stop>
    </linearGradient>
    </defs>
</svg>
</div>