---

---

<div class="mt-20 sm:mt-[7.5rem] relative md:mb-8 mb-16">
  <h1 class="text-[36px] text-center">
    <span class="relative inline-block">
      <span class="relative z-10 hero-title !ml-0">Our Story</span>
      <span class="absolute bottom-[0.3125rem] left-0 w-full z-0">
        <img
          src="/assets/images/about/our-story-green-rectangle-line.png"
          alt="Green Underline"
          class="w-full h-auto"
        />
      </span>
    </span>
  </h1>
</div>
