<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Share your valuable experience and inspire others by becoming a speaker at Kiran Foundation. Join us in empowering youth and fostering societal progress through your stories and insights."
    />
    <meta
      name="keywords"
      content="Become a speaker, share your experience, Kiran Foundation, empower youth, societal progress, inspirational stories"
    />
    <title>About understood</title>
    <link rel="stylesheet" href="/assets/css/About/speaker.css" />
  </head>
  <body>
    <div class="speaker-c1">
      <div class="speaker-c1-title">
        Do you have an experience you want to share?
      </div>
      <button class="speaker-c1-button">Become our speaker</button>
    </div>
  </body>
</html>
