<section class="position-relative py-2 py-sm-3 py-md-4 py-lg-5" style="margin-top: -2rem;">
    <div class="container  z-2 py-5 mt-xl-2 mb-lg-2 mb-xl-3 mb-xxl-5 mt-xxl-4">
      <h2 class="h1 pt-xxl-1 pb-4 mb-2 mb-lg-3">Courses</h2>
      <div class="item-set d-flex justify-content-center align-item-center" style="gap:20px;">
            <div class="swiper-slide h-auto d-flex">
            <div class="card h-100 border-0 rounded-4 pb-3">
              <div class="position-relative" data-bs-theme="light">
                <img class="rounded-4 rounded-bottom-0" src="/assets/images/programs/digitalCourse.png" alt="Guide">
              </div>
              <div class="card-body pb-4">
                <div class="text-primary fw-bold pb-2 mb-1">$125.00</div>
                <h3 class="h4">Essential Digital Skills For Women</h3>
                <ul class="fs-sm ps-4 mb-0">
                  <li class="mb-2">Ut nunc ultricies nibh blandit  odio in.</li>
                  <li class="mb-2">Nibh viverra volutpat viverra.</li>
                  </ul>
              </div>
              <div class="card-footer border-0 pt-0">
                <a class="btn btn-outline-primary w-100" href="/"> ENROLL NOW</a>
              </div>
            </div>
          </div>
           <div class="swiper-slide h-auto">
            <div class="card h-100 border-0 rounded-4 pb-3">
              <div class="position-relative" data-bs-theme="light">
                <img class="rounded-4 rounded-bottom-0" src="/assets/images/programs/digitalCourse.png" alt="Guide">
              </div>
              <div class="card-body pb-4">
                <div class="text-primary fw-bold pb-2 mb-1">$154.99</div>
                <h3 class="h4">Essential Digital Skills For Women</h3>
               </div>
              <div class="card-footer border-0 pt-0">
                <a class="btn btn-outline-primary w-100" href="/"> ENROLL NOW</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="card h-100 border-0 rounded-4 pb-3">
              <div class="position-relative" data-bs-theme="light">
                <img class="rounded-4 rounded-bottom-0" src="/assets/images/programs/digitalCourse.png" alt="Guide">
              </div>
              <div class="card-body pb-4">
                <div class="text-primary fw-bold pb-2 mb-1">$121.00</div>
                <h3 class="h4">Essential Digital Skills For Women</h3>
               </div>
              <div class="card-footer border-0 pt-0">
                <a class="btn btn-outline-primary w-100" href="/"> ENROLL NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
         
    </div>
  </section>

















