---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../../layouts/Layout.astro";
import ChooseVolunteering from "../../components/volunteer/ChooseVolunteering.astro";
import TestimonialsCarousel from "../../components/common/TestimonialsCarousel.astro";
import WhyVolunteer from "../../components/volunteer/WhyVolunteer.astro";
import WhyIntern from "../../components/volunteer/WhyIntern.astro";
import Hero from "../../components/pratibha/Hero.astro";
import Faq from "../../components/common/FaqPratibha.astro";
import Breadcrumb from "../../components/pratibha/Breadcrumb.astro";
import ContentSection from "../../components/volunteer/ContentSection.astro";
---

<Layout>
  <main class="page-wrapper">
    <div class="mt-20 mb-5 ml-72"><Breadcrumb pageName="volunteer"  /></div>

<Breadcrumb url={Astro.url} />

    <Hero collection="volunteering" slug="hero-volunteer" />

    <ContentSection
      collection="volunteering"
      slug="why-volunteer"
      classes="space-y-24"
      textAlignment="order-2"
      imageAlignment="order-1"
   />

    <ContentSection
      collection="volunteering"
      slug="why-intern"
      classes="space-y-24"
      textAlignment="order-1"
      imageAlignment="order-2"
    />


    <!-- <ChooseVolunteering fetch="internship" /> -->

    <h1
class="font-merriweather text-center text-[28px] sm:text-[40px]  md:text-[48px] mt-28 mb-[120px]">Breaking barriers together
    </h1>

    <TestimonialsCarousel pageTag="home" />

    <div class="w-full max-w-[1296px] h-[406px] sm:h-[250px]  md:h-[320px] lg:h-[406px] mx-auto mt-[120px] mb-[184px] overflow-hidden">
      <img 
        src="/assets/images/volunter/work-with-us-bottom-img.jpeg" 
        class="w-full h-full object-cover object-[50%_107%]"
      />
    </div>
    
    
    
    
  

    <Faq collection="volunteering" slug="faq" />
  </main>

  <a
    class="btn-scroll-top"
    href="#top"
    data-scroll
    aria-label="Scroll back to top"
  >
    <svg
      viewBox="0 0 40 40"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="20"
        cy="20"
        r="19"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-miterlimit="10"></circle>
    </svg>
    <i class="ai-arrow-up"></i>
  </a>
</Layout>
