---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../../layouts/Layout.astro";
//import Hero from "../../components/volunteer/Hero.astro";
import WhyVolunteer from "../../components/volunteer/WhyVolunteer.astro";
import ChooseVolunteering from "../../components/volunteer/ChooseVolunteering.astro";
import WhyIntern from "../../components/volunteer/WhyIntern.astro";
import ChooseIntern from "../../components/volunteer/ChooseIntern.astro";
import Faq from "../../components/volunteer/Faq.astro";
import Volunteer from "../../components/home/Volunteer.astro"
import TestimonialsCarousel from "../../components/common/TestimonialsCarousel.astro";
import Hero from "../../components/pratibha/Hero.astro";

---

<Layout>
  
  <main class="page-wrapper">
    <div class="mt-20 mb-5">home->volunteer</div>
    <Hero collection="volunteering" slug="hero-volunteer"/>
    
    <!-- <Hero /> -->
    <WhyVolunteer/>
    <!-- <ChooseVolunteering/> -->
  
    <!-- <Volunteer/> -->
    <WhyIntern />
    <ChooseIntern />



    <h1 class="flex justify-center font-merriweather mt-8 mb-10 font-normal 
  text-[28px] xs:text-[32px] sm:text-[40px] md:text-[48px] 
  leading-[130%] sm:leading-[140%] md:leading-[150%] 
  tracking-tight sm:tracking-[-1%] md:tracking-[-2.2%] text-center">
  Breaking barriers together
</h1>

     <TestimonialsCarousel pageTag="home"/>
     
    <Faq/>
  </main>

  <a
    class="btn-scroll-top"
    href="#top"
    data-scroll
    aria-label="Scroll back to top"
  >
    <svg
      viewBox="0 0 40 40"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="20"
        cy="20"
        r="19"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-miterlimit="10"></circle>
    </svg>
    <i class="ai-arrow-up"></i>
  </a>

</Layout>
  

  
