---
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";
const entry = (await getEntry("common-pages", "404")) as any;

const { title = "", subtitle = "", link = "" } = entry?.data ?? {};
---

<link rel="stylesheet" href="/assets/css/404.css" />
<script src="/js/404-handler.js" defer></script>

<Layout title="404 - Kiran Foundation">
  <main class="page-wrapper">
    <div class="container-404">
      <h1>{title}</h1>
      <p>{subtitle}</p>
      <p>
        <a href="/">{link}</a>
      </p>
    </div>
  </main>
</Layout>
