---
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";
const pages404 = (await getEntry("pages", "404")).data;
---

<link rel="stylesheet" href="/assets/css/404.css" />
<script src="/js/404-handler.js" defer></script>

<Layout title="404 - Kiran Foundation">
  <main class="page-wrapper">
    <div class="container-404">
      <h1>{pages404.title}</h1>
      <p>{pages404.subtitle}</p>
      <p>
        <a href="/">{pages404.link}</a>
      </p>
    </div>
  </main>
</Layout>
