---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/about/Hero.astro";
import { getEntry } from "astro:content";
import GridContainer from "../components/about/GridContainer.astro";
import Heading from "../components/about/Heading.astro";
import MissionVision from "../components/about/MissionVision.astro";
import EnduringSpirit from "../components/about/EnduringSpirit.astro";
import PartnerForProgress from "../components/about/PartnerForProgress.astro";

const testimonials = (await getEntry("testimonials", "testimonials")).data;

interface Props {
  title: string;
}
---

<Layout>
  <main class="page-wrapper" style="overflow-x: hidden;">
    <Hero />
    <Heading />
    <section class="overflow-hidden md:py-5 my-md-2 my-xl-4 my-xxl-5">
      <div class=" px-4 py-2 py-sm-4 py-lg-5">
        <GridContainer arrow="right" slug="vision" />
        <GridContainer flip={true} arrow="left" slug="first-std" />
        <GridContainer arrow="right" slug="shakti" />
        <GridContainer flip={true} arrow="left" slug="first-grad" />
        <GridContainer arrow="right" slug="volunteer-led" />
        <GridContainer flip={true} arrow="left" slug="nationwide-reach" />
        <GridContainer arrow="right" slug="contributing-back" />
        <GridContainer arrow="left" flip="true" slug="year-of-inspiration" />
        <GridContainer slug="what-next" />
      </div>
    </section>
    <MissionVision />
    <EnduringSpirit />
    <PartnerForProgress 
  </main>
      <!-- Back to top button -->
      <a
        class="btn-scroll-top"
        href="#top"
        data-scroll
        aria-label="Scroll back to top"
      >
        <svg
          viewBox="0 0 40 40"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="20"
            cy="20"
            r="19"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-miterlimit="10"></circle>
        </svg>
        <i class="ai-arrow-up"></i>
      </a>
    </PartnerForProgress>
  </main></Layout
>
