---
import "aos/dist/aos.css"
import "jarallax/dist/jarallax.min.css"
import Layout from "../layouts/Layout.astro";
import AboutHero from "../components/About/AboutHero.astro";
import Mission from "../components/About/Mission.astro";
import Team from "../components/About/Team.astro";
import Speaker from "../components/About/Speaker.astro";
import Volunteers from "../components/Home/Volunteer.astro";
import TestimonialsCarousel from "../components/common/TestimonialsCarousel.astro";
import Gallery from "../components/About/Gallery.astro";

interface Props {
	title: string;
}

---
<Layout>
</main> 
  <!-- Page wrapper -->
  <main class="page-wrapper">
    <AboutHero/>
    <Mission/>
    <Team/>
    <Speaker/>
    <Volunteers/>
    <TestimonialsCarousel/>
    <Gallery/>
  </main>
</Layout>

