---
import "aos/dist/aos.css"
import "jarallax/dist/jarallax.min.css"
import Layout from "../layouts/Layout.astro";
import Hero from "../components/About/hero.astro";
import Mission from "../components/About/mission.astro";
import Team from "../components/About/team.astro";
import Speaker from "../components/About/speaker.astro";
import Volunteers from "../components/Home/Volunteer.astro";
import TestimonialsCarousel from "../components/common/TestimonialsCarousel.astro";
import Gallery from "../components/About/gallery.astro";

interface Props {
	title: string;
}

---
<Layout>
</main> 
  <!-- Page wrapper -->
  <main class="page-wrapper">
     <Hero/>
    <Mission/>
    <Team/>
    <Speaker/>
    <Volunteers/>
    <TestimonialsCarousel/>
    <Gallery/>
  </main>
</Layout>

