---
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";
const pagesCompliance = (await getEntry("pages", "compliance")).data;
---

<Layout>
  <!-- Page wrapper -->
  <main class="page-wrapper" style="overflow-x: hidden;">
    <div class="d-flex justify-content-center" style="height:50%;">
      <h1
        class="h1 display-2 fw-bold text-center"
        style="font-size: 50px; margin: 100px auto; color:#e3410f;"
      >
        {pagesCompliance.title}
      </h1>
    </div>
  </main>
</Layout>
