---
// import Header from "../components/common/Header.astro";

import Details from "../components/contact-us/Details.astro";
import Header from "../components/contact-us/Header.astro";
import Breadcrumb from "../components/pratibha/Breadcrumb.astro";
import Form from "../components/contact-us/Form.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacts">
  <main class="page-wrper w-full !bg-none ">
    <Breadcrumb hidden={false} />
    <Header />
    <Details />
    <Form />

  </main>

</Layout>