---
// import Header from "../components/common/Header.astro";

import Details from "../components/contact-us/Details.astro";
import Header from "../components/contact-us/Header.astro";
import Breadcrumb from "../components/pratibha/Breadcrumb.astro";
import Form from "../components/volunteer/Form.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacts">
  <main class=" ">
    <Breadcrumb url={Astro.url} />
    <Header />
    <Details />
    <!-- <Form requriedlabel={false}/> -->

  </main>

</Layout>