---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../layouts/Layout.astro";
import DigitalHero from "../components/digital-skill/DigitalHero.astro";
import DigitalPrograme from "../components/digital-skill/DigitalPrograme.astro";
import DigitalCourse from "../components/digital-skill/DigitalCourse.astro";
import Heading from "../components/common/heading.astro";
import TestimonialsCarousel from "../components/common/TestimonialsCarousel.astro";
import DigitalVideo from "../components/digital-skill/DigitalVideo.astro";
import DigitalVideoSecond from "../components/digital-skill/DigitalVideoSecond.astro";
import DigitalTrainers from "../components/digital-skill/DigitalTrainers.astro";
import DigitalJoin from "../components/digital-skill/DigitalJoin.astro";
---


<Layout>
  <main class="page-wrapper">
    <DigitalHero/>
     <DigitalPrograme/>
    <DigitalCourse/>
    <Heading title="Testimonials"/>
    <TestimonialsCarousel pageTag="pratibha"/>
    <DigitalVideo/>
    <DigitalVideoSecond/>
    <DigitalTrainers/>
    <DigitalJoin/>
</main>
</Layout>