---
import "aos/dist/aos.css"
import "jarallax/dist/jarallax.min.css"
import Layout from "../layouts/Layout.astro";
import Header from "../components/common/Header.astro";
import Application from "../components/Pratibha/application.astro";
import Footer from "../components/common/Footer.astro";
import FaqPratibha from "../components/Pratibha/FaqPratibha.astro";
import AppPratibha from "../components/Pratibha/appPratibha.astro";
interface Props {
	title: string;
}
---
<Layout>

  
      <!-- Page wrapper -->
      <main class="page-wrapper">
        <Header/>
        <Application/>
        <FaqPratibha/>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <AppPratibha/>
        <div class="space"></div>
        <Footer/>
       
        </div>
        
        
=      </main>

  <Layout/>