---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/pratibha/Hero.astro";
import Intro from "../components/pratibha/Intro.astro";
import BenefitOne from "../components/pratibha/BenefitOne.astro";
import SelectionProcess from "../components/pratibha/SelectionProcess.astro";

import Breadcrumb from "../components/pratibha/Breadcrumb.astro";
import BreakingBarriers from "../components/pratibha/BreakingBarriers.astro";
import Faq from "../components/common/FaqPratibha.astro";
import FutuerBuilder from "../components/pratibha/FutuerBuilder.astro";
import Mentoring from "../components/pratibha/Mentoring.astro";
const mt = "mt-[5.375rem] "  // margin top
const mdmt = "md:mt-[7.5rem] "  // margin top for md screen 120px 
const mdmt2 = "md:mt-[11.5rem] "  // margin top for md screen 184px 
const px = "px-4 "  // paddding for scrren 
---

<script src="/assets/js/theme.min.js" is:inline></script>

<script>
  import AOS from "aos";
  AOS.init();
</script>
<script src="jarallax/dist/jarallax.min.js"></script>
<script src="simplebar/dist/simplebar.min.js"></script>

<Layout title="Pratibha">
 

  <main class="page-wrper w-full">
    <div class="h-[4rem]"></div>
    <!-- <div class="wid"><Breadcrumb pageName="Pratibha Scholarship" /></div> -->
    <!-- <div class="wid"><Breadcrumb pageName="Pratibha Scholarship" /></div> -->
     
<Breadcrumb url={Astro.url} />  
    <Hero collection="pratibha" slug="hero" imageWidth="476" height="586" />
    <!-- <Intro mt={mt + mdmt2 + px } />  {/* Pritibha Way */  } -->
    <Intro mt={mt + mdmt2 + px }/>  {/* Pritibha Way */  }

    <BenefitOne mt={mt + mdmt + px } />  {/* how we should students */  }
     <Mentoring mt={mt + mdmt2 + px } />  {/* Career and guidance */  }

    <BreakingBarriers mt={mt + mdmt + px } />  {/* Breaking Barriers*/  }

    <SelectionProcess mt={mt + mdmt} px={ px} />    

    <FutuerBuilder mt={mt + mdmt2 + px } />
    <Faq collection="pratibha" slug="faq" mt={mt + mdmt2 + px }/>

    <a
      class="btn-scroll-top"
      href="#top"
      data-scroll
      aria-label="Scroll back to top"
    >
      <svg
        viewBox="0 0 40 40"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="20"
          cy="20"
          r="19"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-miterlimit="10"></circle>
      </svg>
      <i class="ai-arrow-up"></i>
    </a>
  </main>

  <style>
  

    .wid {
      justify-self: center;
      width: 67%;
    }
    @media (max-width: 1024px) {
      .wid {
        width: 70%;
        justify-self: center;
      }
    }
    @media (max-width: 992px) {
      .wid {
        justify-self: center;
        width: 90%;
      }
      .padding {
        height: 5rem;
      }
    }
    @media (max-width: 768px) {
      .wid {
        justify-self: center;

        width: 90%;
      }
      .padding {
        height: 5rem;
      }
    }
  </style>
</Layout>
