---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../layouts/Layout.astro";
import HeroPratibha from "../components/pratibha/heroPratibha.astro";
import Heading from "../components/common/heading.astro";
import AboutPratibha from "../components/pratibha/aboutPratibha.astro";
import Benefits from "../components/pratibha/benefits.astro";
import AboutPratibhaMentoring from "../components/pratibha/aboutPratibhaMentoring.astro";
import BenefitsSecond from "../components/pratibha/benefitsSecond.astro";
import TestimonialsCarousel from "../components/common/TestimonialsCarousel.astro";
import SelectionProcess from "../components/pratibha/SelectionProcess.astro";
import CardPratibha from "../components/pratibha/cardPratibha.astro";
import FaqPratibha from "../components/pratibha/FaqPratibha.astro";
---

<Layout>
  <!-- Page wrapper -->
  <main class="page-wrapper">
    <HeroPratibha />
    <Heading title="What we do" />
    <AboutPratibha />
    <Benefits />
    <AboutPratibhaMentoring />
    <BenefitsSecond />
    <Heading title="Testimonials" />
    <TestimonialsCarousel pageTag="pratibha" />
    <Heading title="Selection Process" />
    <SelectionProcess />
    <CardPratibha />
    <FaqPratibha />
  </main>
  <!-- Back to top button -->
  <a
    class="btn-scroll-top"
    href="#top"
    data-scroll
    aria-label="Scroll back to top"
  >
    <svg
      viewBox="0 0 40 40"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="20"
        cy="20"
        r="19"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-miterlimit="10"></circle>
    </svg>
    <i class="ai-arrow-up"></i>
  </a>
</Layout>
