---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../layouts/Layout.astro";
import ShaktiHero from "../components/shakti/shaktiHero.astro";
import Heading from "../components/common/heading.astro";
import ShaktiPrograme from "../components/shakti/shaktiPrograme.astro";
import ShaktiDigitalSkill from "../components/shakti/shaktiDigitalSkill.astro";
import ShaktiSpeakingClub from "../components/shakti/shaktiSpeakingClub.astro";
import ShaktiFiancialSkill from "../components/shakti/shaktiFiancialSkill.astro";
import TestimonialsCarousel from "../components/common/TestimonialsCarousel.astro";
import ShaktiCard from "../components/shakti/shaktiCard.astro";
import ShaktiJoin from "../components/shakti/shaktiJoin.astro";

interface Props {
  title: string;
}
---

<Layout>
  <!-- Page wrapper -->
  <main class="page-wrapper">
    <ShaktiHero />
    <Heading title="4 Pillars of Shakti" />
    <ShaktiPrograme />
    <ShaktiDigitalSkill />
    <ShaktiSpeakingClub />
    <ShaktiFiancialSkill />
    <ShaktiCard />
    <Heading title="Testimonials" />
    <TestimonialsCarousel pageTag="shakti" />
    <ShaktiJoin />
  </main>

   <!-- Back to top button -->
   <a
   class="btn-scroll-top"
   href="#top"
   data-scroll
   aria-label="Scroll back to top"
 >
   <svg
     viewBox="0 0 40 40"
     fill="currentColor"
     xmlns="http://www.w3.org/2000/svg"
   >
     <circle
       cx="20"
       cy="20"
       r="19"
       fill="none"
       stroke="currentColor"
       stroke-width="1.5"
       stroke-miterlimit="10"></circle>
     </svg>
     <i class="ai-arrow-up"></i>
   </a>
</Layout>
