---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../layouts/Layout.astro";
import ShaktiHero from "../components/shakti/ShaktiHero.astro";
import Heading from "../components/common/heading.astro";
import ShaktiPrograme from "../components/shakti/ShaktiPrograme.astro";
import ShaktiDigitalSkill from "../components/shakti/ShaktiDigitalSkill.astro";
import ShaktiSpeakingClub from "../components/shakti/ShaktiSpeakingClub.astro";
import ShaktiFiancialSkill from "../components/shakti/ShaktiFiancialSkill.astro";
import TestimonialsCarousel from "../components/common/TestimonialsCarousel.astro";
import ShaktiCard from "../components/shakti/ShaktiCard.astro";
import ShaktiJoin from "../components/shakti/ShaktiJoin.astro";

interface Props {
  title: string;
}
---

<Layout>
  <!-- Page wrapper -->
  <main class="page-wrapper">
    <ShaktiHero />
    <Heading title="4 Pillars of Shakti" />
    <ShaktiPrograme />
    <ShaktiDigitalSkill />
    <ShaktiSpeakingClub />
    <ShaktiFiancialSkill />
    <ShaktiCard />
    <Heading title="Testimonials" />
    <TestimonialsCarousel pageTag="shakti" />
    <ShaktiJoin />
  </main>
</Layout>
