---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../layouts/Layout.astro";
import UpdateFocus from "../components/Updates/UpdateFocus.astro";

interface Props {
  title: string;
}
---

<Layout>
  <!-- Page wrapper -->
  <main class="page-wrapper">
    <UpdateFocus />
  </main>
</Layout>
