.volunteeringForm-frame {
  width: 1000px;
  height: 868px;
  margin: 200px;
  border-radius: 36px;  
  background: #051d40;
  padding: 96px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 200px;
}

.volunteeringForm-frame h1 {
  color: #1E1E1E;
  margin-bottom: 80px;
  margin-top: 128px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.volunteeringForm-container {
  width: 800px;
  margin: 0 auto;
}

.volunteeringForm-input-container,
.input-container-half {
  margin-bottom: 16px;
  padding-top: 30px;
}

.volunteeringForm-input-container label,
.input-container-half label {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1E1E1E;
}
.volunteeringForm-input-container label span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1E1E1E;
}

.volunteeringForm-input-container input,
.volunteeringForm-input-container textarea,
.volunteeringForm-input-container-half input {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  
}

/* Target autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  color: #000 !important;
}


.volunteeringForm-input-container textarea {
  height: 250px;
}

.volunteeringForm-input-container-half {
  width: calc(50% - 8px);
  float: left;
}

.volunteeringForm-input-container-half:nth-child(odd) {
  padding-left: 1%;
  margin-right: 16px;
}

.volunteeringForm-container::after {
  content: '';
  display: block;
  clear: both;
}

.volunteeringForm-submit-button {
  width: 249px;
  height: 56px;
  border-radius: 8px;
  background-color: #D33C0D;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 35px;
}

.volunteeringForm-submit-button:disabled {
  background: linear-gradient(0deg, rgba(211, 60, 13, 0.7), rgba(211, 60, 13, 0.7)),
              linear-gradient(0deg, rgba(30, 30, 30, 0.2), rgba(30, 30, 30, 0.2));
  cursor: not-allowed;
}
