---
import Button from "../common/button.astro";
---

<!-- Main Container -->
<div
  class="max-w-[1296px] mx-auto border-2 border-red-500 mt-8 md:mt-[11.5rem] flex items-center justify-center flex-col p-1"
>
  <!-- Heading Section -->
  <div class="w-full border-2 border-black text-center max-w-[852px] mb-[7.5rem]">
    <h1
      class="text-3xl md:text-[2.5rem] xl:text-[3rem] font-normal mb-8 font-merriweather leading-[150%]  text-[#1E1E1E] border-3 border-teal-400"
    >
      Our Supporters
    </h1>
    <p
      class="mx-auto text-xl md:text-2xl xl:text-[2rem] font-poppins text-[#49494C] border-2 border-purple-500 mb-12 !tracking-normal !leading-[60px]"
    >
      Donating is not charity for us but an investment in the future for
      building a better society.
    </p>
    <Button link="" title="Support Us" btn="btn3" />
  </div>

  <!-- Supporters Grid -->
  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-6 sm:gap-0 md:gap-2 items-center justify-center w-full border-2 border-blue-500 "
  >
    <!-- Image Containers -->
    <div
      class="w-full aspect-[7/2.25] flex items-center justify-center p-2 rounded-lg border-2 border-green-400"
    >
      <img
        src="/assets/images/Homepage/supporters/vedantu.png"
        alt="Vedantu"
        class="w-full h-full object-scale-down max-w-[160px] md:max-w-[140px]"
        loading="lazy"
      />
    </div>
    <div
      class="w-full aspect-[7/2.25] flex items-center justify-center p-2 rounded-lg border-2 border-green-400"
    >
      <img
        src="/assets/images/Homepage/supporters/saral.png"
        alt="Saral"
        class="w-full h-full object-scale-down max-w-[160px] md:max-w-[140px]"
        loading="lazy"
      />
    </div>
    <div
      class="w-full aspect-[7/2.25] flex items-center justify-center p-2 rounded-lg border-2 border-green-400"
    >
      <img
        src="/assets/images/Homepage/supporters/digitalbank.png"
        alt="Digital Bank"
        class="w-full h-full object-scale-down max-w-[160px] md:max-w-[140px]"
        loading="lazy"
      />
    </div>
    <div
      class="w-full aspect-[7/2.25] flex items-center justify-center p-2 rounded-lg border-2 border-green-400"
    >
      <img
        src="/assets/images/Homepage/supporters/Financial_times.png"
        alt="Financial Times"
        class="w-full h-full object-scale-down max-w-[160px] md:max-w-[140px]"
        loading="lazy"
      />
    </div>
    <div
      class="w-full aspect-[7/2.25] items-center justify-center p-2 rounded-lg border-2 border-green-400 hidden md:flex"
    >
      <img
        src="/assets/images/Homepage/supporters/clutch.png"
        alt="Clutch"
        class="w-full h-full object-scale-down max-w-[160px] md:max-w-[140px]"
        loading="lazy"
      />
    </div>
  </div>
</div>
