---
import Button from "../common/button.astro"
---
<div
  class="flex items-center justify-center flex-col text-center px-4 py-12 space-y-4 mt:[3rem] xl:mt-[6rem]"
>
  <h2
    class="text-3xl md:text-4xl xl:text-[3rem] mb-3 font-merriweather text-wrap"
  >
    Our Supporters
  </h2>
  <p class="max-w-[51rem] xl:max-w-4xl mx-auto text-[2.3rem] font-poppins mb-4">
    Donating is not charity for us but an investment in the future for building
    a better society.
  </p>
  <Button link="" title="Support Us" btn="btn3"/>
</div>
<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-6 sm:gap-10 md:gap-16 items-center justify-center my-14 max-w-[90%] xl:max-w-[75%] mx-auto mb-[6rem]">
  <img 
    src="/assets/images/Homepage/supporters/vedantu.png" 
    alt="Vedantu"
    class="w-[140px] sm:w-[160px] md:w-[170px] h-auto object-contain mx-auto"
  >
  <img 
    src="/assets/images/Homepage/supporters/saral.png" 
    alt="Saral"
    class="w-[140px] sm:w-[160px] md:w-[170px] h-auto object-contain mx-auto"
  >
  <img 
    src="/assets/images/Homepage/supporters/digitalbank.png" 
    alt="Digital Bank"
    class="w-[140px] sm:w-[160px] md:w-[170px] h-auto object-contain mx-auto"
  >
  <img 
    src="/assets/images/Homepage/supporters/Financial_times.png" 
    alt="Financial Times"
    class="w-[140px] sm:w-[160px] md:w-[170px] h-auto object-contain mx-auto"
  >
  <img 
    src="/assets/images/Homepage/supporters/clutch.png" 
    alt="Clutch"
    class="w-[140px] sm:w-[160px] md:w-[170px] h-auto object-contain mx-auto hidden md:block"
  >
</div>
