<!-- Clients (Logos autoplay slider) -->
<section class="pt-sm-1 pt-lg-3 pt-xl-4" style="margin-bottom: 7rem;">
  <div class="swiper pb-3 pb-sm-4 mb-xl-2" data-swiper-options='{
    "loop": true,
    "grabCursor": false,
    "centeredSlides": true,
    "autoplay": {
      "delay": 0,
      "disableOnInteraction": false
    },
    "freeMode": true,
    "speed": 10000,
    "freeModeMomentum": false,
    "breakpoints": {
      "0": { "slidesPerView": 2 },
      "600": { "slidesPerView": 3 },
      "800": { "slidesPerView": 4 },
      "1200": { "slidesPerView": 5 },
      "1400": { "slidesPerView": 6 },
      "1600": { "slidesPerView": 7 }
    }
  }'>
    <div class="container swiper-wrapper d-flex justify-content-center" style="transition-timing-function: linear !important; gap:70px;">
      <div class="swiper-slide" style="width: 196px;">
        <img class="d-block d-dark-mode-none mx-auto" src="assets/images/logo/vedantu.png" width="196" alt="vedantu">
       </div>
      <div class="swiper-slide" style="width:196px;">
        <img class="d-block mx-auto" src="assets/images/logo/saral.png" width="196" alt="saral">
      </div>
      <div class="swiper-slide" style="width:196px;">
        <img class="d-block mx-auto" src="assets/images/logo/DB office new.png" width="196" alt="DB office">
      </div>
      <div class="swiper-slide" style="width:123px;">
        <img class="d-block mx-auto" src="assets/images/logo/financial.png" width="196" alt="Fiancial">
      </div>
      <div class="swiper-slide" style="width:144px;">
        <img class="d-block mx-auto mb-1" src="assets/images/logo/clutch.png" width="196" alt="clutch">
      </div>
    </div>
    </div>
  