---
import { getEntry} from 'astro:content';
import "../../styles/global.css";
const talent = await getEntry('home', 'talent');
const { image1, image2, alt1, alt2 } = talent?.data ?? {};
---

<div class="images-container" id="talent-images">
  {image1 && (
    <img src={image1} alt={alt1 || ''} class="image-front animate-on-scroll" loading="lazy" />
  )}
  {image2 && (
    <img src={image2} alt={alt2 || ''} class="image-back animate-on-scroll" loading="lazy" />
  )}
</div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const elements = document.querySelectorAll('.animate-on-scroll');

    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('in-view');
        } else {
          entry.target.classList.remove('in-view'); 
        }
      });
    }, {
      threshold: 0.3,
    });

    elements.forEach(el => observer.observe(el));
  });
</script>
