---
import { getEntry } from "astro:content";
const trusted = (await getEntry("home", "trusted")).data;
---

<!-- Main Container -->
<div class="max-w-[1296px] mt-[86px] lg:mt-[11.5rem] flex items-center justify-center flex-col mx-6 xl:mx-auto p-1">
  <!-- Heading Section -->
  <h1 class="text-3xl md:text-[2.5rem] xl:text-[3rem] font-normal mb-[64px] xl:mb-[96px] font-merriweather leading-[150%] text-[#1E1E1E] w-full !py-2  text-center">
    {trusted.title}
  </h1>

  <!-- Logos Grid Container -->
  <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-6 sm:gap-4 md:gap-6 lg:gap-2 items-center justify-center w-full ">
    {trusted.logos.map((logo:any, index:any) => (
      <div class="w-full aspect-[7/2.25] flex items-center justify-center p-2 rounded-lg ">
        <img
          src={logo.image}
          alt={logo.name}
          class={`w-full h-full object-scale-down ${
            index === 0 
              ? 'max-w-[160px] md:max-w-[120px] lg:max-w-[80px]' 
              : 'max-w-[160px] md:max-w-[140px] lg:max-w-[180px]'
          }`}
          loading="lazy"
        />
      </div>
    ))}
  </div>
</div>