<!-- Main Container with 1296px max-width -->
<div
  class="max-w-[1296px] mx-auto border-2 border-red-500 mt-8 md:mt-[11.5rem] flex items-center justify-center flex-col p-1"
>
  <!-- Heading Section -->

  <h1
    class="text-3xl md:text-[2.5rem] xl:text-[3rem] font-normal mb-[7.5rem] font-merriweather leading-[150%] text-[#1E1E1E] w-full !py-2 border-2 border-black text-center"
  >
    Recognized and Trusted by
  </h1> 

  <!-- Logos Grid Container -->
  <div
    class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-6 sm:gap-0 md:gap-2 items-center justify-center  w-full  border-2 border-blue-500"
  >
    <!-- Logo Items -->
    <div
      class="w-full aspect-[7/2.25] flex items-center justify-center p-2 rounded-lg border-2 border-green-400"
    >
      <img
        src="/assets/images/Homepage/trusted/fmsf.png"
        alt="Digital Bank"
        class="w-full h-full object-scale-down max-w-[160px] md:max-w-[80px]"
        loading="lazy"
      />
    </div>
    <div
      class="w-full aspect-[7/2.25] flex items-center justify-center p-2 rounded-lg border-2 border-green-400"
    >
      <img
        src="/assets/images/Homepage/trusted/csr.png"
        alt="Vedantu"
        class="w-full h-full object-scale-down max-w-[160px] md:max-w-[180px]"
        loading="lazy"
      />
    </div>
    <div
      class="w-full aspect-[7/2.25] flex items-center justify-center p-2 rounded-lg border-2 border-green-400"
    >
      <img
        src="/assets/images/Homepage/trusted/darpan.png"
        alt="Saral"
        class="w-full h-full object-scale-down max-w-[160px] md:max-w-[180px]"
        loading="lazy"
      />
    </div>
    <div
      class="w-full aspect-[7/2.25] flex items-center justify-center p-2 rounded-lg border-2 border-green-400"
    >
      <img
        src="/assets/images/Homepage/trusted/sec8.png"
        alt="Financial Times"
        class="w-full h-full object-scale-down max-w-[160px] md:max-w-[180px]"
        loading="lazy"
      />
    </div>
  </div>
</div>