---
import ComingSoon from "../../components/coming-soon/ComingSoon.astro";
import Breadcrumb from "../../components/common/Breadcrumb.astro";
import Layout from "../../layouts/Layout.astro";

---
<Layout title="Current Students">
  <main class="page-wrapper w-full">
    <Breadcrumb/>
    <ComingSoon/>
    
  </main>
</Layout>
<!-- <ComingSoon/> -->