---
import Layout from "../../layouts/Layout.astro";

import SelectionProcessComponent from "../../components/pratibha/SelectionProcess.astro"; // Selection process section component
import Breadcrumb from "../../components/common/Breadcrumb.astro";

---
<Layout title="Current Students">
  <main class="page-wrapper w-full">
   <Breadcrumb url={Astro.url} />
    <SelectionProcessComponent mt="my-5 !mb-0"/>
  </main>
</Layout>
<!-- <ComingSoon/> -->