---


---


  <!-- Navbar collapse (Main navigation) -->
  <nav class="collapse navbar-collapse" id="navbar">
    <div class="img">
      <img src="logo2.png" height="70em" width="90em" alt="while loding error...">
    </div>
    <ul class="navbar-nav navbar-nav-scroll me-auto" style="--ar-scroll-height: 520px;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown" aria-expanded="false">Our Program</a>
       
          <div class="dropdown-menu p-0">
            <div class="mega-dropdown-column pt-1 pt-lg-3 pb-lg-4" id="our-para2">
         
            <ul class="list-unstyled mb-0">
              <li>
                <a class="dropdown-item" data-bs-toggle="dropdown" aria-expanded="false">Pratibha</a>
              </li>
              <li>
                <a class="dropdown-item" data-bs-toggle="dropdown" aria-expanded="false">Shakti</a>
              </li>
              <li>
                <a class="dropdown-item" data-bs-toggle="dropdown" aria-expanded="false" >Gyan</a>
              </li>
              <li>
                <a class="dropdown-item" data-bs-toggle="dropdown" aria-expanded="false">Samman</a>
              </li>
            </ul> 
               
      
          </div>
      </div>
      

    </li>
    
      <li class="nav-item">
        <a class="nav-link " href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link " href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="components/typography.html">Gallery</a>
      </li>
     

       
</ul>
 <div class="btn">
  
  <div class="btn-Donate-con">
  <button class="btn-donate">Donate</button>
  <div>
    <div class="btn-getInvolved-con">
        <button class="btn-contactus">Be a Volunteer</button>
        <ul class="En-tag">
          <li class="nav-link ">
            <a class="dropdown-toggle" href="">En</a>
          </li>
        </ul>
  <div>
   
  
</div>
</nav>
</div>
</header>

