---
import Layout from "../../../layouts/Layout.astro";
import Head from "../../../components/opportunities/Head.astro";
import Category from "../../../components/opportunities/Category.astro";
import Breadcrumb from "../../../components/pratibha/Breadcrumb.astro";
---

<Layout>
  <div class="mt-20 sm:mt-0">
    <Breadcrumb />
  </div>
  <Head />
  <Category prop="all" /></Layout
>
