<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Section</title>
    <link rel="stylesheet" href="/assets/css/ContactUs/contactUs.css">
</head>
<body>
    <div class="contactUs-c1">
        <h1 class="contactUs-heading">Contacts</h1>
        <h2 class="contactUs-subtitle">Get in touch with us by completing the below form or call us now</h2>
        <div class="contactUs-c2">
            <div class="contactUs-card">
                <h3 class="contactUs-card-title">Address</h3>
                <p class="contactUs-card-desc">101 Sahil Veer Apartments, Vandana Nagar, Indore, 452018</p>
            </div>
            <div class="contactUs-card">
                <h3 class="contactUs-card-title">Phone</h3>
                <div class="contactUs-card-content">
                    <h4 class="contactUs-card-subtitle">Give Us Call</h4>
                    <p class="contactUs-card-phone" style="color: #F1592A;">+91-93039 97100</p>
                    <h4 class="contactUs-card-subtitle">Connect on Whatsapp</h4>
                    <p class="contactUs-card-phone" style="color: #F1592A;">+91-98801 41412</p>
                </div>
            </div>
            <div class="contactUs-card">
                <h3 class="contactUs-card-title">Email</h3>
                <div class="contactUs-card-content">
                    <h4 class="contactUs-card-subtitle">Send Us Email:</h4>
                    <p class="contactUs-card-email">info@kiran.foundation</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
