---
import { getEntry } from "astro:content";
import Button from "../common/button.astro";
const comingSoonData = await getEntry("common", "coming-soon");
console.log(comingSoonData.data);
const { title, description } = comingSoonData.data;
---


    <!-- Page wrapper -->
    <main class="page-wrapper mt-20 mx-auto py-10">
      <div class="d-lg-flex position-relative h-100 ">
        <div class="w-sm-75 w-lg-100 p-4 overflow-hidden mx-auto mx-lg-0 order-lg-2" style="max-width: 1047px;">
          <div class="p-sm-3 h-100">
            <div class="position-relative h-100">
             <img src="/assets/images/pratibha/pratibha-visual-4.webp"  class="rounded-lg">

            </div>
          </div>
        </div>


        <!-- Page content -->
        <div class="d-flex flex-column align-items-center  px-3 px-sm-4 px-xl-5 pt-lg-5 order-lg-1">

          <!-- Text + Countdown + Form -->
          <div class="w-100 text-center text-lg-start mt-auto pt-lg-5 pb-5" style="max-width: 420px;">
            <h1 class="diskplay-3 mb-4 hero-title " >{title}</h1>
            <p class="fs-lg pb-3 mb-4 mb-xl-5 text-start body-text-3 !leading-normal text-[#49494C]">{description}</p>

            <!-- Notification form -->
            <form class="input-group">
              <input type="email" class="form-control" placeholder="Enter your email" required>
              <Button widthClass="px-4 !rounded-lg"   link="#" title="Notify me" btn="btn1"   />
            </form>
          </div>

        </div>
      </div>
    </main>