---

import { getEntry } from "astro:content";

const entry = await getEntry(  "shakti",  "certificates" ) ;

const {
title,button,certificates
} = entry?.data ?? {};

import CertificateCard from './CertificateCard.astro';




import SectionTop from "./SectionTop.astro";
---

<section class=" max-w-[1296px] mx-auto px-4 ">


  <SectionTop title={title} button={button} sec="certificateSection"/>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 max-w-[1296px] mx-auto">
    {certificates.map(cert => (
      <CertificateCard image={cert.image} alt={cert.alt} />
    ))}
  </div>
  
</section>
