---
import MessageCard from "./MessageCard.astro";
const { title } = Astro.props;
---

<div class="mx-auto max-w-[1260px]">
  <div class="flex gap-2">
    <div class="md:w-[776px]">
      <h3 class="md:w-[736px] heading-1 mb-32">{title}</h3>
      <MessageCard type="send" mentor="preeti" />
      <MessageCard
        mentor="Isha"
        mentorImage="/assets/images/financial/isha.jpg"
        message="The course is free and divided into 8 sessions, once a week, for 2 months."
      />
    </div>
    <div class="my-auto">
      <img
        src="/assets/images/financial/financial-visual.png"
        alt=""
        width="500px"
        loading="lazy"
      />
    </div>
  </div>
</div>
