---
import Heading from "./Heading.astro";
import { getEntry } from "astro:content";
const { collection, slug } = Astro.props;
const  mentorsdata  = await getEntry(collection, slug) as {
  data: {
    title: string;
    mentors: {
      image: string;
      title: string;
      quote: string;
    }[];
  };
};
const {title,mentors} = mentorsdata.data;
---

<section class=`max-w-full mx-auto px-4     `>
  <Heading title={title} head="heading-1 mb-10" />

<div class="max-w-[1296px] mx-auto">
  { mentors.map((mentor,index) => (   
    
    <div
      class=`w-max-[1296px] md:mb-[164px] mb-[80px] mx-auto flex flex-col ${ (index % 2 == 0) ? "lg:flex-row" : "lg:flex-row-reverse" } items-center md:gap-[60px] gap-8  `
    >
      <div >
        <img
          src={mentor.image}
          class="rounded-3xl"
          width="390"
          height="502"
          alt=""
        />
        <h4 class="text-[#1E1E1E] body-text-2 tracking-[1px] text-center mt-4">
          {mentor.title}
        </h4>
      </div>
      <div class="m-0">
        <p class="max-w-[841px] body-text-3">
          {mentor.quote}
        </p>
      </div>
    </div>
  ))
}
  
</section>
