---
const {type, message = "Can you tell me more about the course?" } = Astro.props;
---
{ type=== "send" ?

<div  class="body-text-2  flex md:max-w-[786px] w-fit h-[216px] justify-end  rounded-lg mb-[80px] px-4 gap-16 bg-[#D9F3E6]">
  <h3 class=" self-center ">{message}</h3>
  <div class="self-center">
    <img src="/assets/images/financial/preeti.png" alt="" />
    <h4 class=" text-center">preeti</h4>
  </div>
</div>
:

<div  class="body-text-2  h-[216px] self-center flex  flex-row-reverse md:max-w-[786px] w-fit  mx-auto rounded-lg mb-[120px] px-4 gap-16 bg-[#F1F1F1]">
  <h3 class=" self-center">{"The course is free and divided into 8 sessions, once a week, for 2 months."}</h3>
  <div class="flex flex-col  align-middle self-center items-center">
    <img src="/assets/images/financial/isha.jpg" class=" rounded-full" alt=""  width="120px" />
    <h4 class=" text-center">Isha</h4>
  </div>
</div>
}
