---
import SectionTop from "./SectionTop.astro";
---

<section class="max-w-[1296px] mx-auto">


  <SectionTop sec="bottomSection"/>

  <div class="w-full h-auto sm:h-[500px] md:h-[600px] lg:h-[766px]  mb-[120px]">
    <img 
      src="/assets/images/shakti/bottom.jpg"  
      class="w-full h-full object-cover rounded-3xl" 
    />
  </div>
  
  
</section>
