---
import SectionTop from "./SectionTop.astro";
---

<section class="max-w-[1296px] mx-auto">


  <SectionTop sec="bottomSection"/>

  <!-- <div class="w-[1296px] h-[766px]">
    <img 
          src="/assets/images/shakti/bottom.jpg"  
          class="w-full h-full object-cover" 
        />
   
  </div> -->
  
</section>
