---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Volunteering/Hero.astro";
import WhyVolunteer from "../components/Volunteering/WhyVolunteer.astro";
import ChooseVolunteering from "../components/Volunteering/ChooseVolunteering.astro";
import WhyIntern from "../components/Volunteering/WhyIntern.astro";
import ChooseIntern from "../components/Volunteering/ChooseIntern.astro";
---
<Layout>
  <main class="page-wrapper">
    <Hero/>
    <WhyVolunteer/>
    <ChooseVolunteering/>
    <WhyIntern/>
    <ChooseIntern/>
  </main>


</Layout>