---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../../layouts/Layout.astro";
import Update from "../../components/updates/update.astro";
import type { MarkdownFile } from "../../types/Markdown";

const { path } = Astro.params;

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  // Fetch all markdown files from the 'updates' collection
  const allUpdates = await getCollection("updates");

  // Generate static paths using slugs
  const parameters = allUpdates.map((update) => ({
    params: { path: update.slug }, // Using Astro's built-in slug
  }));

  // console.log(parameters);

  return parameters;
}
---

<Layout title="Updates">
  <main class="page-wrapper">
    <Update path={path} />
  </main>
</Layout>
