---
import Breadcrumb from "../../../components/common/Breadcrumb.astro";
import LaptopSupportForm from "../../../components/support-us/laptop/LaptopSupportForm.astro";
import LaptopSupportHero from "../../../components/support-us/laptop/LaptopSupportHero.astro";
import LaptopPoweringEducation from "../../../components/support-us/laptop/LaptopPoweringEducation.astro";
import PoweringEducation from "../../../components/support-us/PoweringEducation.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Laptop Sponser">
  <main class="pb-[40px]">
    <Breadcrumb hidden="false" />
    <LaptopSupportHero collection="support-us" slug="laptop/hero" />
    <LaptopPoweringEducation />
    <!-- <div class="max-w-[70%] mx-auto flex justify-center">
        <PoweringEducation />
    </div> -->
    <LaptopSupportForm />
  </main>
</Layout>
