<!-- Benefits -->
<section class="container pb-5 mb-lg-3 mb-xl-4 mb-xxl-5">
    <div class="row gy-3 pb-sm-3 pb-md-4 pb-lg-5">
      <div class="col-sm-6 col-lg-4">
        <div class="d-flex align-items-center mb-3">
          <div class="flex-shrink-0 rounded-1 p-2">
              <img  src="/assets/img/benefits/icon.png" alt="Image">            
          </div>
          <h3 class="h5 ms-3 mb-0">One-stop insurance solution</h3>
        </div>
        <p class="fs-sm">Gaining access to a comprehensive suite of insurance products, it saves you time and effort by managing all your insurance needs under one roof.</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="d-flex align-items-center mb-3">
          <div class="flex-shrink-0 rounded-1 p-2">
            <img  src="/assets/img/benefits/icon2.png" alt="Image">
          </div>
          <h3 class="h5 ms-3 mb-0">Bundle and Save</h3>
        </div>
        <p class="fs-sm">We offer attractive discounts and benefits when you bundle multiple insurance lines with us. Enjoy cost savings while ensuring comprehensive coverage for your well-being, your vehicle, and your adventures.</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="d-flex align-items-center mb-3">
          <div class="flex-shrink-0 rounded-1 p-2">
            <img  src="/assets/img/benefits/icon3.png" alt="Image">
          </div>
          <h3 class="h5 ms-3 mb-0">Consistency and Trust</h3>
        </div>
        <p class="fs-sm">We have a proven track record of financial stability and commitment to customer satisfaction. Our experience and expertise ensure that you receive reliable coverage and support.</p>
      </div>
    </div>
</section>
  
<section class="overflow-hidden pb-5">
    <div class="container pb-sm-3 mb-md-2 mb-lg-3">
      <div class="row g-4">
        <div class="col-md-7" data-aos="fade-right" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
          <img class="object-fit-cover w-100 h-100 rounded-3" src="/assets/img/benefits/maa.png" alt="Image">
        </div>
        <div class="col-md-5" data-aos="fade-left" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
          <div class="d-flex flex-column h-100 bg-secondary rounded-3 py-5 px-4 px-lg-5">
            <h2 class="mb-xl-4">Car insurance</h2>
            <p class="mb-4 mb-xl-5">Explore our car insurance plans designed to give you peace of mind on the road. Whether you're a daily commuter, a weekend adventurer, or a family driver, we've got you covered. With competitive rates, customizable coverage options, and a commitment to your safety, our car insurance is your trusted driving companion. Get a quote today and experience the ease of driving with confidence.</p>
            <ul class="list-unstyled mb-4 mb-xl-5">
              <li class="d-flex pb-2 mb-1">
                <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                Comprehensive coverage
              </li>
              <li class="d-flex pb-2 mb-1">
                <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                Customizable plans
              </li>
              <li class="d-flex pb-2 mb-1">
                <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                Financial security
              </li>
              <li class="d-flex pb-2 mb-1">
                <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                Car insurance discounts
              </li>
            </ul>
            <div class="mt-auto">
              <a class="btn btn-outline-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> 