---
const { title, subLinks = [], className = "w-[292px]" } = Astro.props;
---

<div class="group flex flex-col max-h-[56px] h-[56px]">
  <div class="flex flex-col gap-2  ">
    <button
      class="flex h-[56px]  items-center font-poppins font-medium text-base text-[#1E1E1E] hover:text-[#D33C0D] py-[6px] pl-[32px] pr-[16px]" 
    >
      <a href={title.url || "#"} class="flex items-center font-poppins">
        {title.name}
        {
          subLinks.length > 0 && (
            <svg
              class="w-11 h-4 group-hover:rotate-180 transition-transform"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              />
            </svg>
          )
        }
      </a>
    </button>
    <div class="h-96 relative hidden group-hover:block ">
      {
        subLinks.length > 0 && (
          <div class={`${className} absolute left-1/2 -translate-x-1/2 mt-3  w-[292px] bg-white border border-[#EBEBEB] rounded-lg transform transition-all duration-300 hiddsen group-hover:block group-hover:scale-100 py-[24px] px-[16px] shadow-[0px_16px_48px_rgba(0,0,0,0.4)] `}>
            <ul class={`w-auto p-0 flex flex-col gap-[32px]`}>
              {subLinks.map((el) => (
                <li>
                  <a
                    href={el.url || "#"}
                    class="block pr-[16px] pl-[32px] py-[6px] text-[#1E1E1E] hover:text-[#D33C0D] transition text-base font-poppins text-nowrap"
                  >
                    {el.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
  </div>
</div>