---
import { getEntry } from "astro:content"

const team = await getEntry("team", "people");
const {people } = team?.data;
---
<div class="row row-cols-1 row-cols-sm-2 g-4 max-w-[1296px] mx-auto mt-[96px] mb-[196px]">
    {
        people.map(({name,role, image}) => (
            <div class="col max-w-[400px] ">
                <div class="card-hover pb-4 mb-lg-2 mb-xl-3 me-sm-1 pe-xl-3 flex flex-col justify-center items-center">
                    <div class="position-relative ">
                        <img
                            class=" rounded-3xl"
                            src={image}
                            alt="Image"
                        />
                        <div class="d-flex justify-content-center position-absolute start-0 bottom-0 w-100 px-3 mb-4 opacity-0">
                      
                        <a
                                class="w-[336px] rounded-lg text-white border-white border-1 md:py-4 py-2  font-bold    mx-auto  flex items-center justify-center"
                                href="#"
                                aria-label="Dribbble"
                            >
                                LinkedIn
                            </a>
                      
                    </div>
                      
                    </div>
                    <div class=" pt-4 space-y-4 pb-4">
                        <h3 class="h4 mb-2 text-center heading-3">
                            {name}
                        </h3>
                        <h3 class="fs-lg body-text-2 text-center text-[#1E1E1E]">
                            {role}
                        </h3>
                    </div>
                </div>
            </div>
        ))
    }
</div>
