---
import { getEntry } from "astro:content";
const {slug,collection} = Astro.props;
const data = await getEntry(collection, slug) as { data?: { title?: string; } };
const { title } = data?.data || {title: "null"};
---

<div class="mt-20 sm:mt-[80px] relative md:mb-8 mb-16">
  <h1 class="text-[36px] text-center">
    <span class="relative inline-block">
      <span class="relative z-10 hero-title !ml-0">{title}</span>
      <span class="absolute md:-bottom-[.7rem] -bottom-[.4125rem] left-0 w-full z-0">
        <img
          src="/assets/images/about/our-story-green-rectangle-line.png"
          alt="Green Underline"
          class="w-full h-auto"
        />
      </span>
    </span>
  </h1>
</div>