---
import UpdateCard from "./UpdateCard.astro";
import Button from "./button.astro";

import { getCollection } from "astro:content";

export async function getAllUpdates() {
  return await getCollection("updates");
}

// Fetch updates properly
const allUpdates = await getAllUpdates();

// Extract frontmatter directly (no need for async mapping)
const updates = allUpdates.map((update) => ({
  ...update.data, // `data` contains frontmatter fields
}));

// console.log(updates);

const { showHighPriorityOnly = false, isMainPage = false } = Astro.props;

const filteredUpdates = updates
  .filter((update) => !showHighPriorityOnly || update.priority === "high")
  .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());

const updatesToDisplay = showHighPriorityOnly
  ? filteredUpdates.slice(0, 3)
  : filteredUpdates;
---

<!-- Update display section -->

<section class="bg-white mt-28 px-4 sm:px-6 lg:px-8 mb-24 pt-3">
  <div>
    <h2 class="text-3xl md:text-4xl xl:text-[2.6rem] mt-14 font-merriweather text-center pb-6">
      News and Updates
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-14 max-w-7xl mx-auto">
      {updatesToDisplay.map((update) => (
        <UpdateCard update={update} />
      ))}
    </div>

    <!-- See More button -->
    {isMainPage && (
      <div class="text-center mb-1 mt-16">
        <Button link="updates" title="See More" btn="btn3" />
      </div>
    )}
  </div>
</section>