---
const { Data } = Astro.props;
import Button from "../common/button.astro";
const {className=''}=Astro.props;
// console.log(className)
---

<!-- Add Splide CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
/>
<style>
  .slidemy:hover {
    box-shadow: 0px 4px 8px #D9D9D9;
    transition: box-shadow 0.3s ;
  }
  @media (max-width: 399px) {
    .mainBox{
        padding-left: 10px !important;
    }
    .slidemy{
        max-width: 328px !important;
        min-width: auto;
  }
}

</style>
<section class=`splide  px-3 mb-[64px] lg:mb-[120px] ${className}`>
  <div class="splide__track mainBox !p-[10px] !pl-[16px] sm:!pl-[14px] overflow-hidden">
    <ul class="splide__list">
      {
        Data.map((items:any) => (
          <li class="splide__slide slidemy border-[1px] bg-[#FFFFFF] border-[#B3B3B3] rounded-[24px] min-w-[320px] max-w-[355px] md:min-w-[390px] md:min-h-[336px] md:max-w-[390px] md:ax-h-[336px]  p-[32px] flex flex-col justify-between ">
            <h3 class="font-poppins text-xl sm:text-2xl font-semibold mb-3 text-[#1E1E1E] text-center">
              {items.data.title}
            </h3>
            <p class="font-poppins text-base sm:text-[20px] text-[#49494C] mb-6 sm:mb-12 text-center">
              {items.data.timeCommitment}
            </p>
            <Button
              link={`${items.slug}`}
              title="Explore Opportunity"
              btn="btn3"
            />
          </li>
        ))
      }
    </ul>
  </div>
</section>

<!-- Add client:load directive -->
<script type="module">
  import Splide from "https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/+esm";
  new Splide(".splide", {
    type: "loop",
    perPage: 3,
    perMove: 1,
    pagination: false,
    gap: "24px",
    breakpoints: {
      1024: { perPage: 2, gap: "16px" }, // Tablets
      768: { perPage: 1, gap: "28px" }, // Mobile
    },
  }).mount();
</script>
