---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Hero from "../../components/volunteer/Hero.astro";
import AboutVolunteerRole from "../../components/volunteer/AboutVolunteerRole.astro";
import Form from "../../components/volunteer/Form.astro";
import InfoVolunteering from "../../components/volunteer/InfoVolunteering.astro";
import HowDoesItWork from "../../components/volunteer/HowDoesItWork.astro";
import Layout from "../../layouts/Layout.astro";
import AboutInternship from "../../components/volunteer/AboutInternship.astro";
import type { MarkdownFile } from "../../types/Markdown";

const { path } = Astro.params;

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allVolunteering = await getCollection("work");

  return allVolunteering
    .filter((entry) => entry.slug.startsWith("internship/"))
    .map((entry) => ({
      params: { path: entry.slug.replace(/^internship\//, "") },
    }));
}
---

<Layout title="Intenrship Roles">
  <main class="page-wrapper">
    <Hero />
    <AboutInternship path={path ?? ""} />
    <Form />
    <!-- <InfoVolunteering /> -->
    <!-- <HowDoesItWork /> -->
  </main>
  <a
    class="btn-scroll-top"
    href="#top"
    data-scroll
    aria-label="Scroll back to top"
  >
    <svg
      viewBox="0 0 40 40"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="20"
        cy="20"
        r="19"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-miterlimit="10"></circle>
    </svg>
    <i class="ai-arrow-up"></i>
  </a>
</Layout>
