<section class="secontion-trainer" style="margin-top: -6rem; margin-bottom: 150px;">
    
 <div class="position-relative z-2 pb-3 pt-2 pt-sm-3 pt-md-4 pt-lg-5 mt-md-3 mt-xxl-2 mb-3 mb-lg-4" style="margin-left: -47rem;">
    <div class="container" style="max-width: 460px;">
        <h2 class="h1">Meet Our Trainers</h2>
       </div>
    </div>
    <div class="container container-start pe-0" 
    style="display:flex; justify-content:space-evenly;width:1296px; height:455px;gap:20px;">
       <!-- Item -->
          <div class=" w-auto" style="margin-left:-30px;">
            <div class="text-center">
              <img class="rounded-2 mb-4" style="width:306px; height:375px;"src="/assets/images/programs/digitalCourse.png" alt="Image">
              <h3 class="h5 mb-1">Alisa Black</h3>
              <p class="text-body-secondary mb-2">Head of marketing</p>
             </div>
          </div>

          <!-- Item -->
          <div class="container-Itme">
            <div class="card-hover text-center">
              <img class="d-block rounded-2 mb-4" style="width:306px; height:375px;" src="/assets/images/programs/digitalCourse.png" alt="Image">
              <h3 class="h5 mb-1">Guy Hawkins</h3>
              <p class="text-body-secondary mb-2">President of Sales</p>
              
            </div>
          </div>

          <!-- Item -->
          <div class="container-Itme">
            <div class="card-hover text-center">
              <img class="d-block rounded-2 mb-4" style="width:306px; height:375px;" 
              src="/assets/images/programs/digitalCourse.png" alt="Image">
              <h3 class="h5 mb-1">Robert Fox</h3>
              <p class="text-body-secondary mb-2">Web Designer</p>

            </div>
          </div>

          <!-- Item -->
          <div class="swiper-slide w-auto">
            <div class="card-hover text-center">
              <img class="d-block rounded-2 mb-4" style="width:306px; height:375px;"
              src="/assets/images/programs/digitalCourse.png" alt="Image">
              <h3 class="h5 mb-1">Jane Cooper</h3>
              <p class="text-body-secondary mb-2">Marketing Coordinator</p>
              
              
            </div>
          </div>

          
               
  </section>