<style>
    .load-Div{
        position:fixed;
        width: 100%;
        background-color: red;
        z-index: 1000;
    }
</style>
<div class="load load-Div">
    <div class='page-loading active'>
        <div class='page-loading-inner'>
          <div class='page-spinner'></div>
          <span>Loading...</span>
        </div>
      </div>
</div>
