<style>
    .load-Div{
        height:100%;
        width: 100%;
        position:fixed;
        z-index: 1000;
    }
</style>
<div class="load load-Div">
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>
</div>
