---
import { getEntry } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Head from "../../../components/work-with-us/opportunities/Head.astro";
import Category from "../../../components/work-with-us/opportunities/Category.astro";
import Breadcrumb from "../../../components/common/Breadcrumb.astro";
const { path } = Astro.params;

export async function getStaticPaths() {
  const filtersEntry = await getEntry("work-with-us", "opportunities/filters");
  const filters = filtersEntry.data.filters;
  return filters.map((filter: any) => ({
    params: { path: filter },
  }));
}
---

<Layout>
  <div class="mt-20 sm:mt-0">
    <Breadcrumb />
  </div>
  <Head />
  <Category prop={path} />
</Layout>
