<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/Pratibha/benefits.css">
  <title>Pratibha</title>
</head>
<body>
</body>
<div class="aboutPratibha-container-c1" style="margin-top: 45px;">
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src="/assets/images/benefits/iconNew1.png" alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">Tuition Fee</h3>
      <p class="aboutPratibha-box-content">Education related fee e.g. School fee, Coaching fee, Exam fee.</p>
    </div>
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src="/assets/images/benefits/iconNew2.png" alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">Stationery and Books </h3>
      <p class="aboutPratibha-box-content">Stationery related fee e.g. books, notebooks,etc.</p>
    </div>
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src="/assets/images/benefits/iconNew3.png" alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">Equipments </h3>
      <p class="aboutPratibha-box-content">Equipments required for education e.g. Laptop and etc</p>
    </div>
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src="/assets/images/benefits/iconNew4.png" alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">Boarding Expenses</h3>
      <p class="aboutPratibha-box-content">Boarding Expenses e.g. hostel rent, PG rent</p>
    </div>
  </div>
