<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/Pratibha/benefits.css">
  <title>Pratibha</title>
</head>
<body>
</body>
<div class="aboutPratibha-container-c1" style="margin-top: 45px; margin-bottom:70px;">
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src="/assets/images/benefits/iconNew5.png" alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">Career Guidance</h3>
      <p class="aboutPratibha-box-content">E.g. self assessment , career 
        options and career planning</p>
    </div>
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src="/assets/images/benefits/iconNew6.png" alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">Mind-Body Harmony</h3>
      <p class="aboutPratibha-box-content">e.g. physical exercise ,nutrition guide and Etc.</p>
    </div>
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src="/assets/images/benefits/iconNew7.png" alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">Personalized coaching</h3>
      <p class="aboutPratibha-box-content">e.g. Building long term habits & a good disciplined.</p>
    </div>
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src="/assets/images/benefits/iconlast.png" alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">Involvement</h3>
      <p class="aboutPratibha-box-content">e.g gaining valuable experience 
        and skills</p>
    </div>
  </div>
