---
const { pageName } = Astro.props;
---

<div class="breadcrumb mt-[5rem]  ml-[19.5rem] max-w-[80.125rem] font-poppins font-normal text-[0.7rem] gap-[0.225rem] justify-start ">
  <span><a href="/">Home</a></span>
  <span class="breadcrumb-separator text-[#1e1e1e] font-normal my-auto mx-[0.025rem] "
    ><svg
      width="5"
      height="9"
      viewBox="0 0 6 11"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M5.83709 4.90277L1.29221 0.452724C1.1871 0.349716 1.04677 0.292969 0.897152 0.292969C0.74753 0.292969 0.607207 0.349716 0.50209 0.452724L0.167391 0.780363C-0.0503999 0.993857 -0.0503999 1.34085 0.167391 1.55402L3.98384 5.2909L0.163156 9.03192C0.0580388 9.13493 0 9.27225 0 9.41867C0 9.56525 0.0580388 9.70257 0.163156 9.80566L0.497855 10.1332C0.603055 10.2362 0.743295 10.293 0.892917 10.293C1.04254 10.293 1.18286 10.2362 1.28798 10.1332L5.83709 5.6791C5.94246 5.57577 6.00033 5.43781 6 5.29114C6.00033 5.14391 5.94246 5.00602 5.83709 4.90277Z"
        fill="#1E1E1E"></path>
    </svg>
  </span>
  <span class="breadcrumb-current text-[#1E1E1E]">{pageName}</span>
</div>
<!-- 
<style>
  span {
    color: #1e1e1e;
  }
  .breadcrumb {
    
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 1.7rem;
    gap: 0.225rem;
  }
  svg {
    width: 6;
    height: 100%;
  }
  .breadcrumb-separator {
    margin: 0 0.25rem;
    font-weight: 400;
  }
</style> -->
