---
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PratibhaLayout from "../../layouts/PratibhaLayout.astro";
// const image_src = "/assets/images/group-photo-1.png"
const image_src = "/assets/images/group_photo.jpg";
// const benefits = ;

const aboutBreakingBarrier = await getEntry("pratibha", "breaking-barriers");
// console.log(aboutBreakingBarrier);
const { mt, secTitle } = Astro.props;
const { image, title } = aboutBreakingBarrier?.data ?? {};
---

<PratibhaLayout mt={`${mt } breaking `}>
  <Fragment slot="content">
    <div class=" block mb-[7.5rem]" id="Barrier-container">
      <h2 class="md:text-5xl text-4xl font-merriweather font-normal">
        {title}
      </h2>
    </div>
  </Fragment>
  <Fragment slot="image-grid">
    <div class=" block">
      <img class="w-full aspect-video rounder-md" src={image} alt="" />
    </div>
  </Fragment>
</PratibhaLayout>

<style>
  h2 {
    /* width: 100%;     */
    font-family: Merriweather;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -2.2%;
    text-align: center;
  } 
  .breaking {
    flex-direction: column;
  }
</style>
