---
import { getEntry } from "astro:content";

const aboutBreakingBarrier = await getEntry("pratibha", "breaking-barriers");
const { mt } = Astro.props;
const { image, title } = aboutBreakingBarrier?.data ?? {};
---
,
<section
  class=` lg:max-w-[81rem] mx-auto  flex flex-col   ${mt}`
  <div
  class="block"
  id="Barrier-container"
  data-aos="fade-up"
>
  <h2 class="pratibha-heading text-center lg:mb-[7.5rem] mb-[1.5rem]">
    {title}
  </h2>
</section>
<div class="mx-auto rounded-lg lg:max-w-[81rem] max-h-[53.375rem] lg:mb-[7.5rem] block" data-aos="fade-up">
  <img class=" w-full rounded-lg" src={image} alt="" />
</div>
