---
import { getEntry } from "astro:content"
const aboutMentoring =(await getEntry("pratibha", "mentoring")).data
const image ="/assets/images/pratibha_page/mentoring.png"
---
<section class="w-full max-w-7xl mx-auto  font-serif">
  <div class=" rounded-md  flex flex-col md:flex-row ">
    <div class="w-[90%] mx-auto md:w-1/2 pr-0 md:pr-8 ">
      <h2 class="text-3xl font-normal text-gray-900 mb-6 font-poppins">Career Guidance and Mentorship</h2>
      
      <p class="text-gray-700 text-lg mb-6">
        We provide our students with guidance and advice from mentors who 
        are active professionals in their field.
      </p>
      
      <p class="text-gray-700 text-lg mb-4">They assist students with:</p>
      
      <ul class="space-y-5">
        <li class="flex items-center gap-5">
          <div class="w-8 h-8 flex items-center justify-center">
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.87755 7.12134V8.34204C5.48606 8.75262 5.2501 9.33405 5.2501 9.94971C5.2501 11.1109 6.08897 12.1567 7.23008 12.1567C7.30283 12.1567 7.37205 12.1539 7.44362 12.1445C7.85091 13.293 8.62401 14.2679 9.625 14.9338C9.62446 15.2382 9.62381 15.5403 9.62381 15.8457C8.37446 16.4204 7.1233 16.9926 5.86892 17.5681C5.14937 17.9151 4.43771 18.2326 3.83034 18.7095C3.1805 19.2197 2.72917 19.8667 2.58522 20.7725L1.74048 26.0911C0.860157 26.4802 0.25 27.3578 0.25 28.375V35.25C0.25 36.6242 1.35263 37.75 2.75122 37.75H15.2488C16.6474 37.75 17.75 36.6242 17.75 35.25V30.875H20.4209C21.3915 30.875 22.3346 30.4981 23.0027 29.9045C23.7002 29.2849 24.1257 28.3854 23.9695 27.4021L22.9172 20.7725C22.7734 19.8667 22.322 19.2197 21.6721 18.7095C21.0648 18.2326 20.3525 17.9151 19.6323 17.5681C18.3775 16.9922 17.1268 16.4203 15.8774 15.8457C15.8775 15.542 15.877 15.2415 15.8762 14.9387C16.8772 14.2729 17.6515 13.3027 18.0588 12.1421C18.1306 12.1515 18.2034 12.1567 18.2762 12.1567C19.4173 12.1567 20.2501 11.111 20.25 9.9497C20.25 9.33467 20.0169 8.75376 19.6275 8.34325V7.12134C19.6275 3.32253 16.5521 0.25 12.7537 0.25C8.97613 0.25 5.87755 3.29324 5.87755 7.12134ZM33.3714 1.50122C33.0263 1.4999 32.7454 1.77861 32.744 2.12378V9.625H31.5001V3.99756C31.4987 3.6543 31.2208 3.37637 30.8775 3.375H28.3775C28.0324 3.37368 27.7515 3.65239 27.7501 3.99756V9.625H26.5001V5.87256C26.4987 5.5293 26.2208 5.25137 25.8775 5.25H23.3775C23.0319 5.24801 22.7503 5.52692 22.7489 5.87256V9.625H22.1251C21.2916 9.625 21.2916 10.875 22.1251 10.875H37.1251C37.9586 10.875 37.9586 9.625 37.1251 9.625H36.4952V2.12378C36.4938 1.78052 36.2159 1.50259 35.8727 1.50122H33.3714ZM14.818 6.95044C14.9736 7.37141 15.2164 7.75893 15.5394 8.08204C15.9752 8.51793 16.5324 8.81491 17.1276 8.93775V10.2866C17.1276 12.6967 15.1698 14.625 12.7525 14.625C10.3158 14.625 8.37877 12.6967 8.37877 10.2866V8.98658C10.8615 8.88358 13.2018 8.14636 14.818 6.95044ZM18.3775 9.00977C18.6971 9.07237 18.9974 9.44536 19.0026 9.94971C18.9955 10.4949 18.6724 10.8568 18.3409 10.9006C18.3622 10.6989 18.3775 10.4942 18.3775 10.2866V9.00977ZM7.12633 9.01102C7.12633 9.67203 7.11216 10.566 7.16176 10.9007C6.8302 10.8567 6.50015 10.4949 6.50015 9.94974C6.50015 9.43738 6.8063 9.07301 7.12633 9.01102ZM32.7501 13.9988V15.2488C32.7501 15.6653 33.0627 15.8745 33.3751 15.875C33.6875 15.8745 34.0001 15.6653 34.0001 15.2488V13.9988C34.0001 13.6525 33.7393 13.383 33.3751 13.3763C33.0109 13.383 32.7501 13.6525 32.7501 13.9988ZM29.547 15.4344L30.4332 16.3157C31.0499 16.8892 31.8896 16.0251 31.3194 15.4344L30.4332 14.5481C30.3156 14.4271 30.1637 14.3662 29.995 14.3662C29.43 14.3619 29.1569 15.0475 29.547 15.4344ZM36.7552 14.3662C36.5866 14.3663 36.4347 14.4272 36.317 14.5481L35.4308 15.4344C34.8605 16.0251 35.7003 16.8892 36.317 16.3157L37.2032 15.4344C37.5933 15.0475 37.3201 14.3619 36.7552 14.3662ZM14.6263 15.5564V16.2925L13.0626 18.3726H12.44L10.8763 16.2925V15.5588C11.4633 15.7654 12.095 15.875 12.7525 15.875C13.4091 15.875 14.0401 15.7624 14.6263 15.5564ZM9.91196 17.0896L11.3036 18.939L10.3038 19.9412L8.53257 17.722L9.91196 17.0896ZM15.5907 17.0896L16.9701 17.722L15.1988 19.9412L14.1991 18.939L15.5907 17.0896ZM32.8966 17.3435L29.1454 21.7173C28.7952 22.1231 29.0854 22.753 29.6214 22.7513H30.8714C30.8714 26.0753 29.9686 28.7168 28.3019 30.5296C26.6528 32.3231 24.1788 33.3763 20.8739 33.3763C20.4911 33.3763 20.2501 33.6901 20.2501 34.0049C20.2501 34.2859 20.4792 34.6263 20.8739 34.6263C24.2319 34.6263 27.9543 34.4747 30.8617 32.9099C33.8482 31.3237 35.8751 28.2134 35.8751 22.75C36.2452 22.7857 36.7273 22.7571 37.1324 22.7513C37.6619 22.7414 37.9399 22.1182 37.5939 21.7174L33.8475 17.3435C33.7233 17.199 33.5399 17.12 33.3495 17.1275C33.1751 17.1335 33.0104 17.2113 32.8966 17.3435ZM7.35705 18.2603L9.76427 21.2657C9.99695 21.5548 10.4289 21.5787 10.692 21.3169L10.8689 21.1399L11.4231 21.6844L10.9348 23.3738H7.04568C6.04378 23.3738 5.25126 24.1885 5.25126 25.1731V25.875H3.043L3.82182 20.9702C3.91631 20.3754 4.19935 20.0111 4.6055 19.6922C5.04076 19.3504 5.6719 19.0493 6.39993 18.6985L7.35705 18.2603ZM18.1456 18.2603L19.1026 18.6985C19.8301 19.0493 20.4618 19.3504 20.8971 19.6922C21.3032 20.0111 21.5862 20.3754 21.6808 20.9703L22.733 27.5999C22.8152 28.1172 22.5899 28.5967 22.1703 28.9695C21.7137 29.3752 21.0738 29.625 20.421 29.625H17.7501V28.375C17.7501 27.0149 16.6617 25.8989 15.2904 25.8762L14.0795 21.6843L14.6337 21.1399L14.8106 21.3169C15.0737 21.5786 15.5056 21.5548 15.7383 21.2656L18.1456 18.2603ZM12.3851 19.6226H13.1175L13.7511 20.2561L12.7513 21.2376L11.7516 20.2561L12.3851 19.6226ZM12.4399 22.656C12.537 22.7116 12.6438 22.7306 12.75 22.7305C12.8563 22.7306 12.9643 22.7116 13.0613 22.656L13.9878 25.875H12.7488V25.1731C12.7488 24.6254 12.5053 24.1326 12.1152 23.8011L12.4399 22.656ZM7.04564 24.6238H10.9543C11.2681 24.6238 11.4988 24.8801 11.4988 25.1731V25.875H6.5012V25.1731C6.5012 24.8801 6.73199 24.6238 7.04564 24.6238ZM2.7512 27.125H15.2488C15.935 27.125 16.5 27.6717 16.5 28.375V28.9976C16.5 30.5245 15.4268 31.7777 13.9988 32.064V31.4988C13.9988 31.1148 13.6896 30.8763 13.3713 30.8763H10.8713C10.5278 30.8774 10.2488 31.1553 10.2475 31.4988V32.1263H7.75244V31.4988C7.75119 31.1553 7.47214 30.8774 7.12865 30.8763H4.62865C4.31042 30.8763 4.0012 31.1148 4.0012 31.4988V32.064C2.57316 31.7776 1.49998 30.5244 1.49998 28.9976V28.375C1.49998 27.6717 2.06498 27.125 2.7512 27.125ZM1.49999 32.0664C2.15418 32.7346 3.0234 33.1891 4.00121 33.3274V33.9988C3.99988 34.3459 4.28155 34.6288 4.62866 34.6275H7.12865C7.47393 34.6262 7.75374 34.3441 7.75244 33.9988V33.3763H10.2475V33.9988C10.2462 34.3441 10.526 34.6263 10.8713 34.6275H13.3713C13.7184 34.6288 14.0001 34.3459 13.9988 33.9988V33.3274C14.9766 33.1891 15.8458 32.7346 16.5 32.0664V35.25C16.5 35.9533 15.9374 36.5 15.2488 36.5H2.7512C2.06254 36.5 1.49998 35.9533 1.49998 35.25L1.49999 32.0664Z" fill="black"/>
              </svg>
              
          </div>
          <span class="text-lg font-medium">Career Planning</span>
        </li>
        
        <li class="flex items-center gap-5">
          <div class="w-8 h-8 flex items-center justify-center">
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M38 17.4167C38 14.934 36.8093 12.6033 34.8333 11.1166V11.0833C34.8333 8.07975 32.7323 5.55908 29.9218 4.9115C29.2743 2.10267 26.752 0 23.75 0C21.8595 0 20.1606 0.832833 19 2.14858C17.8394 0.83125 16.1405 0 14.25 0C11.248 0 8.72575 2.10108 8.07817 4.9115C5.26933 5.55908 3.16667 8.07975 3.16667 11.0833V11.1166C1.19067 12.6033 0 14.9324 0 17.4167C0 18.8195 0.372083 20.1669 1.08617 21.375C0.373667 22.5831 0 23.9305 0 25.3333C0 28.0028 1.3585 30.4697 3.58942 31.9295C4.72783 35.5363 8.04175 38 11.875 38C14.8168 38 17.423 36.5338 19 34.2918C20.577 36.5323 23.1832 38 26.125 38C29.9598 38 33.2738 35.5363 34.4106 31.9295C36.6399 30.4697 38 28.0028 38 25.3333C38 23.9305 37.6279 22.5831 36.9138 21.375C37.6263 20.1669 38 18.8195 38 17.4167ZM11.875 34.8333C9.28783 34.8333 7.07275 33.0679 6.49008 30.5393C6.38717 30.0944 6.09742 29.716 5.69525 29.5007C4.13567 28.6647 3.16667 27.0687 3.16667 25.3349C3.16667 24.2662 3.53717 23.2418 4.24175 22.3709C4.71042 21.7898 4.71042 20.9618 4.24175 20.3807C3.53875 19.5114 3.16667 18.487 3.16667 17.4167C3.16667 15.7225 4.10242 14.1439 5.60975 13.2953C6.19558 12.9659 6.50908 12.3025 6.39192 11.6407C6.36025 11.4586 6.33333 11.2749 6.33333 11.0833C6.33333 9.33692 7.75358 7.91667 9.5 7.91667C10.3756 7.91667 11.0833 7.20733 11.0833 6.33333C11.0833 4.58692 12.5036 3.16667 14.25 3.16667C15.9964 3.16667 17.4167 4.58692 17.4167 6.33333V12.6667H13.8257C13.2778 11.7198 12.255 11.0833 11.0833 11.0833C9.33375 11.0833 7.91667 12.5004 7.91667 14.25C7.91667 15.9996 9.33375 17.4167 11.0833 17.4167C12.255 17.4167 13.2778 16.7802 13.8257 15.8333H17.4167V23.75H13.8257C13.2778 22.8032 12.255 22.1667 11.0833 22.1667C9.33375 22.1667 7.91667 23.5837 7.91667 25.3333C7.91667 27.0829 9.33375 28.5 11.0833 28.5C12.255 28.5 13.2778 27.8635 13.8257 26.9167H17.4167V29.2917C17.4167 32.3475 14.9308 34.8333 11.875 34.8333ZM33.7583 22.3693C34.4613 23.2386 34.8333 24.263 34.8333 25.3333C34.8333 27.0687 33.8659 28.6647 32.3048 29.4991C31.9026 29.7144 31.6128 30.0928 31.5099 30.5378C30.9272 33.0663 28.7106 34.8318 26.125 34.8318C23.0692 34.8318 20.5833 32.3459 20.5833 29.2901V22.1651H23.75C26.3688 22.1651 28.5 20.0339 28.5 17.4151V16.9908C29.4468 16.4429 30.0833 15.4201 30.0833 14.2484C30.0833 12.4988 28.6663 11.0817 26.9167 11.0817C25.1671 11.0817 23.75 12.4988 23.75 14.2484C23.75 15.4201 24.3865 16.4429 25.3333 16.9908V17.4151C25.3333 18.2875 24.624 18.9984 23.75 18.9984H20.5833V6.33333C20.5833 4.58692 22.0036 3.16667 23.75 3.16667C25.4964 3.16667 26.9167 4.58692 26.9167 6.33333C26.9167 7.20733 27.6244 7.91667 28.5 7.91667C30.2464 7.91667 31.6667 9.33692 31.6667 11.0833C31.6667 11.2749 31.6382 11.4586 31.6081 11.6407C31.4909 12.3025 31.8044 12.9659 32.3903 13.2953C33.8976 14.1423 34.8333 15.7225 34.8333 17.4167C34.8333 18.4854 34.4628 19.5098 33.7583 20.3807C33.2896 20.9618 33.2896 21.7883 33.7583 22.3693Z" fill="black"/>
              </svg>
              
          </div>
          <span class="text-lg font-medium">Skill Development</span>
        </li>
        
        <li class="flex items-center gap-5">
          <div class="w-8 h-8 flex items-center justify-center">
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.5 4.5C4.5 2.8425 5.8425 1.5 7.5 1.5C9.1575 1.5 10.5 2.8425 10.5 4.5C10.5 6.1575 9.1575 7.5 7.5 7.5C5.8425 7.5 4.5 6.1575 4.5 4.5ZM18 7.5C20.0715 7.5 21.75 5.8215 21.75 3.75C21.75 1.6785 20.0715 0 18 0C15.9285 0 14.25 1.6785 14.25 3.75C14.25 5.8215 15.9285 7.5 18 7.5ZM28.5 7.5C30.1575 7.5 31.5 6.1575 31.5 4.5C31.5 2.8425 30.1575 1.5 28.5 1.5C26.8425 1.5 25.5 2.8425 25.5 4.5C25.5 6.1575 26.8425 7.5 28.5 7.5ZM36 18C36 27.9255 27.9255 36 18 36C8.0745 36 0 27.9255 0 18H3C3 19.5675 3.2445 21.078 3.6915 22.5H8.8545C8.4855 21.066 8.25 19.563 8.25 18H11.25C11.25 19.56 11.5185 21.072 11.955 22.5H24.042C24.48 21.0705 24.75 19.5585 24.75 18H27.75C27.75 19.563 27.5145 21.066 27.1455 22.5H32.3085C32.757 21.078 33 19.5675 33 18H36ZM13.1595 25.5C14.6955 28.6275 16.7775 31.0875 17.9985 32.379C19.2165 31.086 21.297 28.6245 22.8345 25.5H13.161H13.1595ZM14.082 32.463C12.672 30.7125 11.046 28.3125 9.8655 25.5H5.0295C6.9915 28.8795 10.2285 31.4175 14.082 32.463ZM30.969 25.5H26.1315C24.951 28.3125 23.3265 30.7125 21.915 32.463C25.7685 31.4175 29.0085 28.878 30.969 25.5ZM15 12.75C15 12.3375 15.336 12 15.75 12H20.25C20.664 12 21 12.3375 21 12.75V15H24V12.75C24 10.6815 22.317 9 20.25 9H15.75C13.683 9 12 10.6815 12 12.75V15H15V12.75ZM25.857 9C26.4435 9.8745 26.8005 10.902 26.9235 12H30.75C31.164 12 31.5 12.3375 31.5 12.75V15H34.5V12.75C34.5 10.6815 32.817 9 30.75 9H25.857ZM4.5 12.75C4.5 12.3375 4.836 12 5.25 12H9.0765C9.1995 10.902 9.5565 9.8745 10.143 9H5.25C3.183 9 1.5 10.6815 1.5 12.75V15H4.5V12.75Z" fill="black"/>
              </svg>
              
              
          </div>
          <span class="text-lg font-medium">Networking Opportunities</span>
        </li>
        
        <li class="flex items-center gap-5">
          <div class="w-8 h-8 flex items-center justify-center">
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 27C15 25.3425 16.3425 24 18 24C19.6575 24 21 25.3425 21 27C21 28.6575 19.6575 30 18 30C16.3425 30 15 28.6575 15 27ZM2.25 27C2.25 28.6575 3.5925 30 5.25 30C6.9075 30 8.25 28.6575 8.25 27C8.25 25.3425 6.9075 24 5.25 24C3.5925 24 2.25 25.3425 2.25 27ZM4.5 14.25C4.5 13.8375 4.836 13.5 5.25 13.5H9V22.5H13.5V13.5H22.5V9H5.25C2.355 9 0 11.355 0 14.25V22.5H4.5V14.25ZM6.75 7.5C8.8215 7.5 10.5 5.8215 10.5 3.75C10.5 1.6785 8.8215 0 6.75 0C4.6785 0 3 1.6785 3 3.75C3 5.8215 4.6785 7.5 6.75 7.5ZM7.5 31.5H3C1.3425 31.5 0 32.8425 0 34.5V36H10.5V34.5C10.5 32.8425 9.1575 31.5 7.5 31.5ZM30.75 30C32.4075 30 33.75 28.6575 33.75 27C33.75 25.3425 32.4075 24 30.75 24C29.0925 24 27.75 25.3425 27.75 27C27.75 28.6575 29.0925 30 30.75 30ZM30.75 0H12.36C13.0785 1.0725 13.5 2.3625 13.5 3.75C13.5 4.0065 13.452 4.251 13.425 4.5H30.75C31.164 4.5 31.5 4.8375 31.5 5.25V18H28.5V15H22.5V18H16.5V22.5H36V5.25C36 2.355 33.645 0 30.75 0ZM33 31.5H28.5C26.8425 31.5 25.5 32.8425 25.5 34.5V36H36V34.5C36 32.8425 34.6575 31.5 33 31.5ZM20.25 31.5H15.75C14.0925 31.5 12.75 32.8425 12.75 34.5V36H23.25V34.5C23.25 32.8425 21.9075 31.5 20.25 31.5Z" fill="black"/>
              </svg>
              
          </div>
          <span class="text-lg font-medium">Access to Skill-Building Workshops</span>
        </li>
        
        <li class="flex items-center gap-5">
          <div class="w-8 h-8 flex items-center justify-center">
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M36.0015 27.7965V25.503H28.5075C30.3525 23.595 31.5015 20.94 31.5015 18.003C31.5015 12.3165 27.1995 7.6815 21.855 7.515C22.848 7.272 23.9355 6.8235 24.8055 5.967C26.9505 3.8565 27.0015 0.0135 27.0015 0.0135C27.0015 0.0135 23.385 -0.2505 21.24 1.86C20.091 2.991 19.578 4.6035 19.3455 5.862C18.9855 3.2265 18.045 1.131 17.427 0L14.793 1.4355C15.2805 2.328 16.3665 4.647 16.479 7.5H14.442C8.9595 7.5 4.5 12.213 4.5 18.0045C4.5 20.9415 5.649 23.5965 7.494 25.5045H5.25C2.355 25.5045 0 27.8595 0 30.7545C0 33.6495 2.355 36.0045 5.25 36.0045H36L35.9895 33.7185L35.5485 33.2775C35.538 33.267 34.5 32.217 34.5 30.7545C34.5 29.292 35.538 28.2405 35.538 28.2405L36 27.798L36.0015 27.7965ZM14.4435 10.4985H21.5595C25.3875 10.4985 28.5015 13.8645 28.5015 18.003C28.5015 22.1415 25.56 25.4745 21.7515 25.4985C20.673 25.4865 19.7115 25.212 18.738 24.6615L18.0015 24.246L17.265 24.6615C16.2915 25.2105 15.33 25.4865 14.2515 25.4985C10.443 25.4745 7.5015 22.1265 7.5015 18.003C7.5015 13.8795 10.6155 10.4985 14.4435 10.4985ZM31.9155 33.003H5.2515C4.011 33.003 3.0015 31.9935 3.0015 30.753C3.0015 29.5125 4.011 28.503 5.2515 28.503H31.9155C31.6725 29.148 31.5015 29.904 31.5015 30.753C31.5015 31.602 31.6725 32.358 31.9155 33.003Z" fill="black"/>
              </svg>
              
              
          </div>
          <span class="text-lg font-medium">Educational Resources</span>
        </li>
        
        <li class="flex items-start gap-5">
          <div class="w-8 h-8 flex items-center justify-center mt-1">
            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M34 3.46942V7.08333C34 8.64875 32.7321 9.91667 31.1667 9.91667H26.9167C25.3512 9.91667 24.0833 8.64875 24.0833 7.08333V2.83333C24.0833 1.26792 25.3512 0 26.9167 0H31.1667C31.8112 0 32.3978 0.223833 32.8737 0.5865L29.1238 4.43133L27.5513 2.73842L25.5864 4.77983L27.9253 7.28167C28.5699 7.95883 29.648 7.96308 30.2968 7.29158L34 3.46942ZM27.9267 19.3233L25.5878 16.8215L27.5527 14.7801L29.1252 16.473L32.8752 12.6282C32.3992 12.2655 31.8112 12.0417 31.1681 12.0417H26.9181C25.3527 12.0417 24.0847 13.3096 24.0847 14.875V19.125C24.0847 20.6904 25.3527 21.9583 26.9181 21.9583H31.1681C32.7335 21.9583 34.0014 20.6904 34.0014 19.125V15.5111L30.2997 19.3333C29.6494 20.0047 28.5713 20.0005 27.9282 19.3233H27.9267ZM27.9267 31.365L25.5878 28.8632L27.5527 26.8218L29.1252 28.5147L32.8752 24.6698C32.3992 24.3072 31.8112 24.0833 31.1681 24.0833H26.9181C25.3527 24.0833 24.0847 25.3512 24.0847 26.9167V31.1667C24.0847 32.7321 25.3527 34 26.9181 34H31.1681C32.7335 34 34.0014 32.7321 34.0014 31.1667V27.5527L30.2997 31.3749C29.6494 32.0464 28.5713 32.0422 27.9282 31.365H27.9267ZM6.375 7.08333C8.33142 7.08333 9.91667 5.49808 9.91667 3.54167C9.91667 1.58525 8.33142 0 6.375 0C4.41858 0 2.83333 1.58525 2.83333 3.54167C2.83333 5.49808 4.41858 7.08333 6.375 7.08333ZM12.75 12.75V24.0833H9.91667V34H7.08333V24.0833H5.66667V34H2.83333V24.0833H0V12.75C0 10.4068 1.90683 8.5 4.25 8.5H8.5C10.8432 8.5 12.75 10.4068 12.75 12.75ZM9.91667 12.75C9.91667 11.968 9.28058 11.3333 8.5 11.3333H4.25C3.46942 11.3333 2.83333 11.968 2.83333 12.75V21.25H9.91667V12.75ZM15.5833 6.375V27.625C15.5833 29.5786 17.1728 31.1667 19.125 31.1667H21.25V28.3333H19.125C18.734 28.3333 18.4167 28.0146 18.4167 27.625V18.4167H21.25V15.5833H18.4167V6.375C18.4167 5.98542 18.734 5.66667 19.125 5.66667H21.25V2.83333H19.125C17.1728 2.83333 15.5833 4.42142 15.5833 6.375Z" fill="black"/>
              </svg>
              
              
          </div>
          <span class="text-lg font-medium">
            Hands-on Training to Boost Academic<br />
            and Professional Growth
          </span>
        </li>
      </ul>
    </div>
    
    <div class="w-full md:w-1/2 mt-8 md:mt-12">
      <div class="">
        <div class="max-w-[600px] ">
          <img 
            src={image} 
            alt="Students mentorship" 
            class="w-full h-auto object-cover rounded-md"
          />
        </div>
        <!-- <div class="col-span-2 md:col-span-1 grid grid-rows-2 gap-5">
          <img 
            src="/lovable-uploads/d205e580-4035-4fb4-b4cc-782fbf39d6b3.png" 
            alt="Students in white t-shirts" 
            class="w-full h-auto object-cover rounded-md"
          />
          <img 
            src="/lovable-uploads/692e6e3c-8106-4b1d-8034-d337f2348b61.png" 
            alt="Two students" 
            class="w-full h-auto object-cover rounded-md"
          />
        </div>
        <div class="col-span-2 h-16 bg-[#FF4700] rounded-md"></div> -->
      </div>
    </div>
  </div>
</section>
<style>
  h2{
    font-family: Poppins;
font-weight: 600;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;

  }
  p {
    font-family: Poppins;
font-weight: 400;
font-size: 1rem;
line-height: 2rem;
letter-spacing: 0%;

  }
  span {
    font-family: Poppins;
font-weight: 400;
font-size: 1.25rem;
line-height: 110%;
letter-spacing: 0%;
color: #1E1E1E;

  }
</style>