---
import { getEntry } from "astro:content";
import TestimonialsCarousel from "../common/TestimonialsCarousel.astro";
const selectionProcess = (await getEntry("pratibha", "selection-process")).data;
const common = (await getEntry("common", "common")).data;
console.log(selectionProcess);
---

<section class=" bg-[#f1f1f1] py-[6.25rem] font-serif">
  <div class="container mx-auto  w-[70%]">
    <h1 class="mt-0 mb-[2rem]">Selection Process</h1>

    <div class="mb-12">
      <h2 class="mb-6">Eligibility</h2>
      <ul class="text-[1.12rem] list-disc pl-6 space-y-4 text-lg">
        <li>Monthly income of the Family should be less than Rs. 20,000.</li>
        <li>Child should have passed 8th Standard or 14 Years of age.</li>
        <li>
          Child should have shown enormous potential in his/her field of
          interest.
        </li>
      </ul>
    </div>

    <div class="mb-12">
      <h2 class="mb-6">Documents</h2>
      <ul class="list-disc pl-6 space-y-4 text-lg">
        <li>Previous year's Marksheets</li>
        <li>Identity proof (Aadhaar Card/Voter ID/Driving License)</li>
        <li>
          Two recommendation letters from school principle / college principle
        </li>
      </ul>
      <p class="my-2">and Respectable person of your area.</p>
      <ul class="list-disc pl-6 space-y-4 text-lg">
        <li>Income certificate.</li>
        <li>details of family/personal crisis (if applicable)</li>
      </ul>
    </div>

    <div class="mb-12">
      <h2 class="ml-0 mb-6">How can I apply?</h2>
      <ul class="list-disc font-poppins pl-6 space-y-4 text-lg pb-2">
        <li>click on the Apply now button below</li>
        <li>Fill in the required details in the online application form.</li>
        <li>Upload relevant documents</li>
        <li>
          check if all the details filled in the application are correctly
          showing on the preview screen
        </li>
        <li>
          click on the 'Submit' button to complete the application process
        </li>
      </ul>
    </div>
    <div class="flex flex-col sm:flex-row gap-4 mt-10">
      <a 
        href="#" 
        class="inline-flex items-center justify-center px-3 py-[.75rem] bg-[#D9340B] text-white rounded-md hover:bg-[#C02F0A] transition-colors font-medium text-lg"
      >
        Apply for Scholarship
      </a>
      <a 
        href="#" 
        class="inline-flex items-center justify-center px-3 py-2 bg-white border border-gray-300 text-gray-900 rounded-md hover:bg-gray-50 transition-colors font-medium text-lg"
      >
        See All Current Students
      </a>
    </div>
    <div class="padding m-[7.5rem]"></div>
    <TestimonialsCarousel pageTag="pratibha" />
  </div>
</section>

<style>
  section {
    width: 100%;
    background-color: #f1f1f1;
  }
  h1 {
    font-family: Merriweather;
    font-weight: 400;
    font-size: var(--font-title);
    line-height: 150%;
    letter-spacing: -2.2%;
  }
  h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.65rem;
    line-height: 100%;
    letter-spacing: 0%;
  }
  ul {
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 0.935rem;
    letter-spacing: 0%;
    color: #49494c;
    /* padding: 1.5rem 0; */
  }
  /* a   {
    width: 247;
    font-size: small;
    display: block;
height: 60;
font-weight: bold;
padding-top: 1.125rem;
padding-right: 1.5rem;
padding-bottom: 1.125rem;
padding-left: 1.5rem;
border-radius: 0.5rem;
border: solid 0.5 #1E1E1E;
  } */
  li {
    line-height: normal;
  }
</style>
